<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="admin/inc/view">

<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		function memberList(member) {
			if (!confirm('정말로 삭제하시겠습니까?')) {
				return false;
			}
			$.ajax({
				url: "deleteMember",
				type: "post",
				data: {memberId: member},
				dataType: 'json',
				success: function (result) {
					if (result > 0) {
						window.alert("삭제 되었습니다.")
						window.location.href = 'memberManage'
					} else {
						window.alert("삭제 실패.")
					}
				},
				error: function () {
					alert("요청 실패");
				}
			})
		}
		
		function deleteCategoryButton() {
			console.log()
			
		}

	</script>
</head>

<body>
	<h1>admin/template</h1>
</body>

</html>