<html xmlns="http://www.thymeleaf.org">
<table border="">
	<tr>
		<td colspan="4">
			<h1>상품목록</h1>
		</td>
	</tr>
	<tr>
		<td>
			<a id="newest"
			th:href="|/shopping/shoppingList/${brand}/${category}/${type}/${page}/newest?searchCont=${sear}|">최신순</a>
		</td>
		<td>
			<a id="review"
			th:href="|/shopping/shoppingList/${brand}/${category}/${type}/${page}/review?searchCont=${sear}|">리뷰순</a>
		</td>
		<td colspan="2">
			<a id="sells"
			th:href="|/shopping/shoppingList/${brand}/${category}/${type}/${page}/sells?searchCont=${sear}|">판매순</a>
		</td>
	</tr>
	<tr th:if="${#arrays.length(productsBoardList) ne 0}" th:each="no:${#numbers.sequence(0, 3)}">
		<td th:each="num:${#numbers.sequence(pd.listStart, pd.listEnd)}"
		th:if="${num &lt; ((4*no)+4)+(4*(4*(pd.pageStart-1))) and num &gt;= (4*no)+(4*(4*(pd.pageStart-1)))}">
			<ul>
				<a th:href="|/shopping/shoppingDetail/${brand}/${category}/${type}/${productsBoardList[num].productsBoardId}/${distinct}|">
					<li>
						<div>
							<img th:src="|/upFile/${bagsList[num].bagImg1}|" alt="상품 사진" />
						</div>
						<div>
							<img th:src="|/upFile/${bagsList[num].bagImg2}|" alt="상품 사진" />
						</div>
						<div>
							<img th:src="|/upFile/${bagsList[num].bagImg3}|" alt="상품 사진" />
						</div>
						<div>
							<img th:src="|/upFile/${bagsList[num].bagImg4}|" alt="상품 사진" />
						</div>
					</li>
					<li th:each="brand:${brandList}"
					th:if="${brand.brandId eq productsBoardList[num].brandId}"
					th:text="${brand.brandName}"></li>
					<li th:text="${bagsList[num].bagName}"></li>
					<li th:text="${bagsList[num].bagPrice}"></li>
					<li th:text="${productsBoardList[num].intro}"></li>
				</a>
			</ul>
		</td>
	</tr>
	<tr th:unless="${#arrays.length(productsBoardList) ne 0}">
		<td colspan="4">검색된 게시글이 없습니다</td>
	</tr>
	<tr>
		<td colspan="4">
			<a th:href="|/shopping/shoppingList/${brand}/${category}/${type}/1/${distinct}?searchCont=${sear}|"><<</a>
			<a th:href="|/shopping/shoppingList/${brand}/${category}/${type}/${pd.pageLJump}/${distinct}?searchCont=${sear}|"><</a>
			<a th:each="pageNum:${#numbers.sequence(
			(pd.pageEnd eq pd.endPage)?(pd.pageEnd-4 le 0)?1:pd.pageEnd-4:pd.pageStart
			, pd.pageEnd)}"
			th:href="|/shopping/shoppingList/${brand}/${category}/${type}/${pageNum}/${distinct}?searchCont=${sear}|"
			th:text="|${(pd.pageStart eq pageNum) ? '[' + pageNum + ']' : pageNum}|">
			</a>
			<a th:href="|/shopping/shoppingList/${brand}/${category}/${type}/${pd.pageRJump}/${distinct}?searchCont=${sear}|">></a>
			<a th:href="|/shopping/shoppingList/${brand}/${category}/${type}/${pd.endPage}/${distinct}?searchCont=${sear}|">>></a>
		</td>
	</tr>
	<form th:action="|/shopping/shoppingList/${brand}/${category}/${type}/${page}/${distinct}|" id="searForm">
		<tr>
			<td colspan="3">
				<input type="text" name="searchCont" id="searchCont" />
			</td>
			<td>
				<input type="submit" value="검색" />
			</td>
		</tr>
	</form>
	<tr>
		<td colspan="4" th:if="${session.admin ne null}">
			<a href="/shopping/shoppingWrite">글작성</a>
		</td>
	</tr>
</table>
<div class="topBtn">
	<button type="button" onclick="topBtn()">TOP</button>
</div>
<script>
	$(document).ready(function(){
		$('#searForm').submit(function(e){
			e.preventDefault();
			
			const search = $('#searchCont').val().trim();
			
			if(search.length == 0 || search.length > 30){
				alert('검색 내용은 1~30글자 내로 해주세요');
				return false;
			}else {
				$('#searForm').get(0).submit();
			}
		})
	})
</script>