<html xmlns="http://www.thymeleaf.org">
<table class="shoppingCart">
	<tr>
		<td colspan="6">
			<h1>장바구니</h1>
		</td>
	</tr>
	<th:block th:if="${cartList != null and #arrays.length(cartList) != 0}">
		<tr>
			<td>
				<label for="selectAll">
					전체 선택
					<input type="checkbox" id="selectAll" onchange="allCheck()" />
				</label>
			</td>
			<td>상품이미지</td>
			<td>상품명</td>
			<td>수량</td>
			<td>합산 금액</td>
			<td>삭제</td>
		</tr>
		<tr th:each="cart,no:${cartList}">
			<td>
				<input type="checkbox" id="chkPay" th:onchange="|chkPay(this, ${cart.productCode})|" />
			</td>
			<td>
				<img th:src="|/upFile/${cartBags[no.index].bagImg1}|" alt="상품 이미지" />
			</td>
			<td th:text="${cartBags[no.index].bagName}"></td>
			<td>
				<button type="button" 
				th:onclick="|subAmount(${cartBags[no.index].bagPrice}, ${cart.cartId})|">-</button>
				<input type="text" th:value="${cart.productsCount}" th:id="|cartAmount${cart.cartId}|" />
				<input type="hidden" th:value="${cartBags[no.index].bagPrice}" th:id="|pricecartAmount${cart.cartId}|" />
				<!-- <input type="hidden" th:value="${cartBags[no.index].bagStock}" th:id="|stockcartAmount${cart.cartId}|" /> -->
				<button type="button" 
				th:onclick="|addAmount(
					${cartBags[no.index].bagPrice},
					${cart.cartId})|">+</button>
			</td>
			<td>
				<input type="text" th:value="${#numbers.formatInteger(cart.sumPrice, 0, 'COMMA')}" th:id="|cartTotal${cart.cartId}|" readonly />
			</td>
			<td>
				<button type="button" th:onclick="|confirmDelete(${cart.cartId})|">삭제</button>
			</td>
		</tr>
		<tr>
			<td>배송비</td>
			<td colspan="5" th:if="${delivery ne 0}">
				<input type="text" th:value="${#numbers.formatInteger(delivery, 0, 'COMMA')}" id="delivery" readonly />
			</td>
			<td th:unless="${delivery ne 0}">
				<input type="text" value="무료 배송" id="delivery" readonly />
			</td>
		</tr>
		<tr>
			<td>전체 금액</td>
			<td colspan="5">
				<input type="text" th:value="${#numbers.formatInteger(total, 0, 'COMMA')}" id="total" readonly />
			</td>
		</tr>
		<tr>
			<td colspan="6">
				<button type="button" onclick="pay()">구매</button>
			</td>
		</tr>
	</th:block>
	<th:block th:unless="${cartList != null and #arrays.length(cartList) != 0}">
		<tr>
			<td colspan="7">
				장바구니가 비었습니다.<br />
				상품을 추가해주세요!
			</td>
		</tr>
	</th:block>
</table>
<script th:inline="javascript">
	const cartList = [[${#arrays.length(cartList)}]];
	const user = [[${session.userId}]];
	function addAmount(price, cartId){
		let cartAmount = null;
		if(!isNaN($('#cartAmount'+cartId).val())){
			cartAmount = parseInt($('#cartAmount'+cartId).val()) + 1;
		}else {
			alert('숫자를 입력해주세요');
			return false;
		}
		if(cartAmount > 9999){
			alert(9999+'개까지 선택할 수 있습니다');
			return false;
		}
		
		$('#cartAmount'+cartId).val(cartAmount);
		const params = {
			cartAmount : cartAmount,
			price : price,
			cartId : cartId
		}
		
		$.ajax({
			url : '/shopping/shoppingCartChange',
			type : 'post',
			contentType : 'application/json; charset=utf-8',
			dataType : 'json',
			data : JSON.stringify(params),
			success : function(res){
				$('#cartTotal'+cartId).val(res.sumPrice.toLocaleString());
				// $('#total').val(res.total.toLocaleString());
				$('#delivery').val(res.delivery.toLocaleString());
			},
			error : function(error){
				console.log(error);
			}
		})
	}
	
	function subAmount(price, cartId){
		let cartAmount = null;
		if(!isNaN($('#cartAmount'+cartId).val())){
			cartAmount = parseInt($('#cartAmount'+cartId).val()) - 1;
		}else {
			alert('숫자를 입력해주세요');
			return false;
		}
		if(cartAmount < 1){
			alert('상품은 1개 이상 선택해야 합니다');
			return false;
		}
		$('#cartAmount'+cartId).val(cartAmount);
		const params = {
			cartAmount : cartAmount,
			price : price,
			cartId : cartId
		}
		
		$.ajax({
			url : '/shopping/shoppingCartChange',
			type : 'post',
			contentType : 'application/json; charset=utf-8',
			dataType : 'json',
			data : JSON.stringify(params),
			success : function(res){
				$('#cartTotal'+cartId).val(res.sumPrice.toLocaleString());
				// $('#total').val(res.total.toLocaleString());
				$('#delivery').val(res.delivery.toLocaleString());
			},
			error : function(error){
				console.log(error);
			}
		})
	}
	
	$(document).ready(function(){
		if(cartList === 0){
			alert('상품을 추가해주세요');
			location.href="/shopping/shoppingList/0/0/0/1/newest";
		}
		
		const cart = document.querySelectorAll('input[id^="cartAmount"]');
		let delay;
		cart.forEach(function(item){
			$('#'+item.id).keyup(function(event){
				clearTimeout(delay);
				delay = setTimeout(function(){
					let cartAmount = null;
					if(!isNaN($('#'+item.id).val())){
						cartAmount = parseInt(item.value);
					}else {
						alert('숫자를 입력해주세요');
						return false;
					}
					// let stock = $('#stock'+item.id).val();
					let price = $('#price'+item.id).val();
					let cartId = item.id.substring('cartAmount'.length, item.id.length);
					
					if(cartAmount < 1){
						alert('상품은 1개 이상 선택해야 합니다');
						return false;
					}else if(cartAmount > 9999){
						alert(9999+'개까지 선택할 수 있습니다');
						return false;
					}
					
					const params = {
						cartAmount : cartAmount,
						price : price,
						cartId : cartId
					}
					
					$.ajax({
						url : '/shopping/shoppingCartChange',
						type : 'post',
						contentType : 'application/json; charset=utf-8',
						dataType : 'json',
						data : JSON.stringify(params),
						success : function(res){
							$('#cartTotal'+cartId).val(res.sumPrice.toLocaleString());
							// $('#total').val(res.total.toLocaleString());
							$('#delivery').val(res.delivery.toLocaleString());
						},
						error : function(error){
							console.log(error);
						}
					})
				}, 300);
			})
		})
		
	})
	
	function confirmDelete(cartId){
		if(confirm('정말 삭제하시겠습니까?')){
			cartDelete(cartId);
		}
	}
	
	function cartDelete(cartId){
		const params = {
			cartId : cartId
		}
		
		$.ajax({
			url : '/shopping/cartDelete',
			type : 'post',
			contentType : 'application/json; charset=utf-8',
			dataType : 'json',
			data : JSON.stringify(params),
			success : function(res){
				alert(res.msg);
				location.href=res.url;
			},
			error : function(error){
				console.log(error);
			}
		})
	}
	
	function pay(){
		let cartCount = document.querySelectorAll('[id^="cartAmount"]');
		
		for(let i=0; i<cartCount.length; i++){
			if(isNaN(cartCount[i].value)){
				alert('숫자를 입력해주세요');
				return false;
			}
		}
		
		let chkBox = document.querySelectorAll('#chkPay');
		var chkNum = 0;
		
		chkBox.forEach(function(item){
			if(item.checked){
				chkNum++;
			}
		})
		
		if(chkNum === 0){
			alert('구매하실 상품을 선택해주세요');
		}else{
			location.href="/orders/orders";
		}
	}
	
	function chkPay(checkbox, prodCode){
		if(checkbox.checked){
			const params = {
				memberId: user,
				payStatus: 1,
				productCode: prodCode
			}
			
			$.ajax({
				url : '/shopping/orderSelect',
				type : 'post',
				contentType : 'application/json; charset=utf-8',
				dataType : 'json',
				data : JSON.stringify(params),
				success : function(res){
					$('#total').val(res.total.toLocaleString());
					if(res.delivery == 0){
						$('#delivery').val('무료 배송');
					}else{
						$('#delivery').val(res.delivery.toLocaleString());
					}
				},
				error : function(error){
					console.log(error);
				}
			})
		}else {
			const params = {
				memberId: user,
				payStatus: 0,
				productCode: prodCode
			}
			
			$.ajax({
				url : '/shopping/orderSelect',
				type : 'post',
				contentType : 'application/json; charset=utf-8',
				dataType : 'json',
				data : JSON.stringify(params),
				success : function(res){
					$('#total').val(res.total.toLocaleString());
					if(res.delivery == 0){
						$('#delivery').val('무료 배송');
					}else{
						$('#delivery').val(res.delivery.toLocaleString());
					}
				},
				error : function(error){
					console.log(error);
				}
			})
		}
	}
	
	function allCheck(){
		let chkBox = document.querySelectorAll('#chkPay');
		let check = document.getElementById('selectAll');
		
		chkBox.forEach(function(item){
			item.checked = check.checked;
			
			if (typeof item.onchange == 'function') {
	            item.onchange();
	        }
		})
	}
</script>