<html xmlns="http://www.thymeleaf.org">
<h1 th:each="cate:${categoriesList}" th:if="${productsBoard.categoriesId eq cate.categoriesId}"
	th:text="${cate.categoriesName}"></h1>
<hr />
<section class="shopDetail">
	<!-- 상품 관련 정보 -->
	<div>
		<table border="">
			<tr>
				<td colspan="2">
					<div>
						<img th:src="|/upFile/${bags.bagImg1}|" alt="상품 사진" />
					</div>
					<div>
						<img th:src="|/upFile/${bags.bagImg2}|" alt="상품 사진" />
					</div>
					<div>
						<img th:src="|/upFile/${bags.bagImg3}|" alt="상품 사진" />
					</div>
					<div>
						<img th:src="|/upFile/${bags.bagImg4}|" alt="상품 사진" />
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div th:utext="${productsBoard.contents}"></div>
				</td>
			</tr>
			<tr>
				<td>타입</td>
				<td th:each="type:${typeList}" th:if="${bags.typeId eq type.typeId}" th:text="${type.typeName}"></td>
			</tr>
			<tr>
				<td>사이즈</td>
				<td th:text="|${bags.bagSizeW}/${bags.bagSizeH}/${bags.bagSizeD}|"></td>
			</tr>
			<tr>
				<td>용량</td>
				<td th:text="${bags.bagCapacity}"></td>
			</tr>
			<tr>
				<td>무게</td>
				<td th:text="${bags.bagWeight}"></td>
			</tr>
			<tr>
				<td>겉감</td>
				<td th:text="${bags.bagOuterFabric}"></td>
			</tr>
			<tr>
				<td>안감</td>
				<td th:text="${bags.bagInnerFabric}"></td>
			</tr>
			<tr>
				<td>지퍼</td>
				<td th:text="${bags.bagZipper}"></td>
			</tr>
			<tr>
				<td>버클</td>
				<td th:text="${bags.bagBuckle}"></td>
			</tr>
			<tr>
				<td>제조연월</td>
				<td th:text="${bags.bagsProductionDay2}"></td>
			</tr>
			<tr>
				<td colspan="2" th:text="${productsBoard.guide}"></td>
			</tr>
			<tr th:if="${reviewPos eq 1}">
				<td colspan="2" class="replyTd">
					<textarea cols="40" rows="5" id="content" placeholder="리뷰를 남겨보세요"></textarea>
					<input type="button" value="등록" onclick="saveComments()" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="comments"></div>
					<div class="onComments" onclick="clickComments()">
						<p>다음 리뷰 보기</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<!-- 배송, 결제 관련 정보 -->
	<div>
		<table border="">
			<tr>
				<td colspan="3" th:each="brand:${brandList}" th:if="${brand.brandId eq productsBoard.brandId}"
					th:text="${brand.brandName}"></td>
			</tr>
			<tr>
				<td colspan="3" th:text="${bags.bagName}"></td>
			</tr>
			<tr>
				<td colspan="3" th:text="${bags.bagPrice}"></td>
			</tr>
			<tr>
				<td>상품코드</td>
				<td colspan="2" th:text="${bags.productCode}"></td>
			</tr>
			<tr>
				<td>배송정보</td>
				<td colspan="2" th:text="${productsBoard.addressInfo}"></td>
			</tr>
			<tr>
				<td>결제관련정보</td>
				<td colspan="2">결제관련정보</td>
			</tr>
			<tr>
				<td rowspan="5">상품설명</td>
			<tr>
				<td colspan="2" th:text="${bags.bagComment}"></td>
			</tr>
			<tr>
				<td>정면길이</td>
				<td th:text="${bags.bagSizeW}"></td>
			</tr>
			<tr>
				<td>높이</td>
				<td th:text="${bags.bagSizeH}"></td>
			</tr>
			<tr>
				<td>측면길이</td>
				<td th:text="${bags.bagSizeD}"></td>
			</tr>
			</tr>
			<tr>
				<td th:text="${bags.bagName}"></td>
				<td>
					<button type="button" onclick="subAmount()">-</button>
					<input type="text" th:value="${bags.amount}" id="bagsAmount" />
					<button type="button" onclick="addAmount()">+</button>
				</td>
				<td>
					<input type="text" th:value="${bags.totalPrice}" id="bagsTotal" readonly />
				</td>
			</tr>
			<tr>
				<td>총 상품금액</td>
				<td colspan="2">
					<input type="text" th:value="${bags.totalPrice}" id="bagsTotal" readonly />
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<th:block th:if="${member ne null and member.memberStatus ne '차단'}">
						<button type="button" onclick="cartAdd()">장바구니</button>
						<button type="button" onclick="goPay()">바로구매</button>
					</th:block>
					<th:block th:unless="${member ne null and member.memberStatus ne '차단'}">
						<button type="button" onclick="blackList()">장바구니</button>
						<button type="button" onclick="blackList()">바로구매</button>
					</th:block>
				</td>
			</tr>
			<!-- <th:block th:unless="${bags.bagStock != 0}">
				<tr>
					<td colspan="3">품절</td>
				</tr>
			</th:block> -->
			<tr>
				<td colspan="3">
					<a th:if="${session.admin ne null}"
						th:href="|/shopping/shoppingModify/${productsBoard.productsBoardId}|">수정</a>
					<a th:if="${session.admin ne null}" href="#"
						th:onclick="|confirmDeletePrb(${productsBoard.productsBoardId})|">삭제</a>
					<a th:href="|/shopping/shoppingList/${brand}/${category}/${type}/1/${distinct}|">뒤로</a>
				</td>
			</tr>
		</table>
	</div>
</section>
<div class="topBtn">
	<button type="button" onclick="topBtn()">TOP</button>
</div>
<script th:inline="javascript">
	
	function blackList(){
		alert("차단된 회원입니다. 관리자에게 문의해주세요.")
	}
	
	const user = [[${session.userId}]];
	function addAmount() {
		let bagsAmount = null;
		if (!isNaN($('#bagsAmount').val())) {
			bagsAmount = parseInt($('#bagsAmount').val()) + 1;
		} else {
			alert('숫자를 입력해주세요');
			return false;
		}

		// let stock = [[${bags.bagStock}]];
		if(bagsAmount > 9999){
			alert(9999+'개까지 선택할 수 있습니다');

			return false;
		}

		$('#bagsAmount').val(bagsAmount);
		const params = {
			bagsAmount: bagsAmount
		}
		const bagsTotal = document.querySelectorAll('#bagsTotal');

		$.ajax({
			url: '/shopping/shoppingDetail',
			type: 'post',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			data: JSON.stringify(params),
			success: function (res) {
				bagsTotal.forEach(function (item) {
					item.value = res.totalPrice;
				})
			},
			error: function (error) {
				console.log(error);
			}
		})
	}

	function subAmount() {
		let bagsAmount = null;
		if (!isNaN($('#bagsAmount').val())) {
			bagsAmount = parseInt($('#bagsAmount').val()) - 1;
		} else {
			alert('숫자를 입력해주세요');
			return false;
		}
		if (bagsAmount < 1) {
			alert('상품은 1개 이상 선택해야 합니다');
			return false;
		}
		$('#bagsAmount').val(bagsAmount);
		const params = {
			bagsAmount: bagsAmount
		}
		const bagsTotal = document.querySelectorAll('#bagsTotal');

		$.ajax({
			url: '/shopping/shoppingDetail',
			type: 'post',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			data: JSON.stringify(params),
			success: function (res) {
				bagsTotal.forEach(function (item) {
					item.value = res.totalPrice;
				})
			},
			error: function (error) {
				console.log(error);
			}
		})
	}

	$(document).ready(function () {
		let delay;
		$('#bagsAmount').keyup(function (event) {
			clearTimeout(delay);
			delay = setTimeout(function () {
				let bagsAmount = null;
				if (!isNaN($('#bagsAmount').val())) {
					bagsAmount = parseInt($('#bagsAmount').val());
				} else {
					alert('숫자를 입력해주세요');
					return false;
				}

				// let stock = [[${bags.bagStock}]];
				
				if(bagsAmount < 1){
					alert('상품은 1개 이상 선택해야 합니다');
					return false;
				}else if(bagsAmount > 9999){
					alert(9999+'개까지 선택할 수 있습니다');

					return false;
				}

				const params = {
					bagsAmount: bagsAmount
				}
				const bagsTotal = document.querySelectorAll('#bagsTotal');

				$.ajax({
					url: '/shopping/shoppingDetail',
					type: 'post',
					contentType: 'application/json; charset=utf-8',
					dataType: 'json',
					async: false,
					data: JSON.stringify(params),
					success: function (res) {
						bagsTotal.forEach(function (item) {
							item.value = res.totalPrice;
						})
					},
					error: function (error) {
						console.log(error);
					}
				})
			}, 300);
		})

		reload();
	})

	function confirmation(msg, url, cartCount) {
		if (confirm(msg + '\n장바구니로 이동하시겠습니까?')) {
			location.href = url;
		}
		$('#cartLink').text('장바구니(' + cartCount + ')');
	}

	// const nonMember = [[${session.nonMemberId}]];
	// var popup = '';
	function cartAdd(){

		let bagsAmount = null;
		if (!isNaN($('#bagsAmount').val())) {
			bagsAmount = parseInt($('#bagsAmount').val());
		} else {
			alert('숫자를 입력해주세요');
			return false;
		}

		
		if(user == null){
			/* let popupLeft = (screen.width - 500) / 2;
			let popupTop = (screen.height - 400) / 2;
			popup = window.open('/shopping/shoppingNonMember', 
			'비회원', 'width=500,height=400,left='+popupLeft+',top='+popupTop);*/
			alert('회원가입을 해주세요');
			location.href="/member/signUp";
		}else{

			const params = {
				bagsAmount: bagsAmount
			}

			$.ajax({
				url: '/shopping/shoppingCart',
				type: 'post',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				async: false,
				data: JSON.stringify(params),
				success: function (res) {
					confirmation(res.msg, res.url, res.cartCount);
				},
				error: function (error) {
					console.log(error);
				}
			})
		}
	}

	function goPay() {
		let bagsAmount = null;
		if (!isNaN($('#bagsAmount').val())) {
			bagsAmount = parseInt($('#bagsAmount').val());
		} else {
			alert('숫자를 입력해주세요');
			return false;
		}

		
		if(user == null){
			/* let popupLeft = (screen.width - 500) / 2;
			let popupTop = (screen.height - 400) / 2;
			popup = window.open('/shopping/shoppingNonMember', 
			'비회원', 'width=500,height=400,left='+popupLeft+',top='+popupTop); */
			alert('회원가입을 해주세요');
			location.href="/member/signUp";
		}else {

			const params = {
				bagsAmount: bagsAmount
			}

			$.ajax({
				url: '/shopping/shoppingCart',
				type: 'post',
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				async: false,
				data: JSON.stringify(params),
				success: function (res) {
					location.href = "/shopping/shoppingCart";
				},
				error: function (error) {
					console.log(error);
				}
			})
		}
	}

	
	/* function reload(){
		if(popup && popup.closed){

			location.reload();
		} else {
			setTimeout(reload, 300);
		}

	}*/
	

	const pid = [[${productsBoard.productsBoardId}]];
	var reviewCount = [[${productsBoard.reviewCount}]];
	let gpid = pid;
	var writer = [[${session.userId}]];
	if (writer === null) {
		writer = [[${session.admin}]];
	}
	function saveComments() {
		let content = $('#content').val().trim();

		if (content.length == 0 || content.length > 1000) {
			alert('리뷰는 1~1000자내로 입력해주세요');
			return false;
		}

		let params = {
			content: content,
			gpid: gpid,
			comWriter: writer
		};

		$.ajax({
			url: '/shopping/shoppingDetail/' + pid + '/comments',
			type: 'post',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			data: JSON.stringify(params),
			async: false,
			success: function (res) {
				reviewCount++;
				alert(res.msg);
				$('#content').val('');
				listComments();
			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}

	window.onload = () => {
		listComments();
	}

	function listComments() {
		$.ajax({
			url: '/shopping/shoppingDetail/' + pid + '/comments',
			type: 'get',
			dataType: 'json',
			async: false,
			success: function (res) {
				$('.comments').empty();
				$('.comments').append('<h3>리뷰(' + reviewCount + ')</h3>');
				res.forEach((row, i) => {
					if (res.length <= 0) {
						return;
					}

					
					if(i>4){
						var updBtn = '';
						for(j=0; j<row.lev; j++){

							$('.comments')
								.append('<div class="commsOn"></div>');
						}

						updBtn += '<ul class="commentsOn"><li id="comm' + row.commentsId  + '">';
						updBtn += '<span>작성자: ' + row.comWriter + '</span><span>' + row.comRegDate2 + '</span>';
						updBtn += '<p>' + row.content + '<i>';
						// updBtn += '<input type="button" onclick="openReplyComments(' + row.commentsId + ')" value="답글" >';
						
						if(row.comWriter === user || writer == 'admin'){
							updBtn += '<input type="button" onclick="openUpdateComments(' + row.commentsId + ')" value="수정" >';
							updBtn += '<input type="button" onclick="confirmDelete(' + row.commentsId + ')" value="삭제" >';
						}
						updBtn += '</i></p></li></ul>';
						$('.comments').append(updBtn);
					}else {
						var updBtn = '';
						for(j=0; j<row.lev; j++){

							$('.comments')
								.append('<div class="comm"></div>');
						}

						updBtn += '<ul><li id="comm' + row.commentsId + '">';
						updBtn += '<span>작성자: ' + row.comWriter + '</span><span>' + row.comRegDate2 + '</span>';
						updBtn += '<p>' + row.content + '<i>';
						// updBtn += '<input type="button" onclick="openReplyComments(' + row.commentsId + ')" value="답글" >';
						
						if(row.comWriter === user || writer == 'admin'){
							updBtn += '<input type="button" onclick="openUpdateComments(' + row.commentsId + ')" value="수정" >';
							updBtn += '<input type="button" onclick="confirmDelete(' + row.commentsId + ')" value="삭제" >';
						}
						updBtn += '</i></p></li></ul>';
						
						$('.comments').append(updBtn);

					}
				});
				$('.onComments').css('display', 'block');

			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}

	function openUpdateComments(commentsId) {
		$.ajax({
			url: '/shopping/shoppingDetail/' + pid + '/comments/' + commentsId,
			type: 'get',
			dataType: 'json',
			async: false,
			success: function (res) {
				$('#comm' + commentsId + '').html(
					'<span>작성자: ' + res.comWriter + '</span><span>' + res.comRegDate2 +
					'</span>' + '<textarea cols="20" rows="3" id="updateComments"' +
					'placeholder="' + res.content + '"></textarea><input type="button"' +
					'value="수정" onclick="updateComments(' + commentsId + ')"><input type="button"' +
					'value="취소" onclick="cancel(' + commentsId + ')">'
				);
			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}

	function cancel(commentsId) {
		$.ajax({

			url : '/shopping/shoppingDetail/'+pid+'/comments/'+commentsId,
			type : 'get',
			dataType : 'json',
			async : false,
			success : function(res) {
				var textHtml = '';
				textHtml += '<span>작성자: ' + res.comWriter + '</span><span>' + res.comRegDate2 + '</span>';
				textHtml += '<p>' + res.content + '<i>';
				// textHtml += '<input type="button" onclick="openReplyComments(' + res.commentsId + ')" value="답글" >';
				textHtml += '<input type="button" onclick="openUpdateComments(' + res.commentsId + ')" value="수정" >';
				textHtml += '<input type="button" onclick="confirmDelete(' + res.commentsId + ')" value="삭제" >'
				textHtml += '</i></p>';
				
				$('#comm'+commentsId+'').html(textHtml);

			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}

	function updateComments(commentsId) {
		let content = $('#updateComments').val().trim();

		if (content.length == 0 || content.length > 1000) {
			alert('리뷰는 1~1000자내로 입력해주세요');
			return false;
		}

		let params = {
			content: content
		}

		$.ajax({
			url: '/shopping/shoppingDetail/' + pid + '/comments/' + commentsId,
			type: 'post',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			data: JSON.stringify(params),
			async: false,
			success: function (res) {
				// console.log(response);
				alert(res.msg);
				listComments();
			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}

	function confirmDelete(commentsId) {
		if (confirm('정말 삭제하시겠습니까?')) {
			deleteComments(commentsId);
		}
	}

	function deleteComments(commentsId) {
		let params = {
			commentsId: commentsId
		}

		$.ajax({

			url : '/shopping/shoppingDetail/'+pid+'/comments/delete/'+commentsId,
			type : 'post',
			dataType : 'json',
			data : JSON.stringify(params),
			async : false,
			success : function(res) {
				reviewCount--;

				alert(res.msg);
				listComments();
			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}

	function clickComments() {
		$('.onComments').css('display', 'none');
		$('.commentsOn').css('display', 'block');
		$('.comments > .commsOn').css({
			'display': 'block',
			'float': 'left', 'height': '100px', 'margin-right': '55px'
		});
	}

	
	/* function openReplyComments(commentsId) {

		$.ajax({
			url: '/shopping/shoppingDetail/' + pid + '/comments/reply/' + commentsId,
			type: 'get',
			dataType: 'json',
			async: false,
			success: function (res) {
				$('#comm' + commentsId + '').html(
					'<span>작성자: ' + res.comWriter +
					'</span><span>' + res.comRegDate2 + '</span><p>' + res.content + '<i>' +
					'<input type="button" onclick="openReplyComments(' + res.commentsId + ')" value="답글" >' +
					'<input type="button" onclick="openUpdateComments(' + res.commentsId + ')" value="수정" >' +
					'<input type="button" onclick="confirmDelete(' + res.commentsId + ')" value="삭제" ></i></p>' +
					'<p><textarea cols="20" rows="3" id="replyComments"' +
					'placeholder="답글을 다세요"></textarea><input type="button"' +
					'value="등록" onclick="replyComments(' + commentsId + ', ' + res.seq + ', ' + res.lev + ')">' +
					'<input type="button" value="취소" onclick="cancel(' + commentsId + ')"></p>');
			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})

	} */
	
	/* function replyComments(commentsId, seq, lev){

		let content = $('#replyComments').val().trim();

		if (content.length == 0 || content.length > 1000) {
			alert('답글은 1~1000자내로 입력해주세요');
			return false;
		}

		var lev = lev + 1;
		var seq = seq;

		let params = {
			content: content,
			gpid: gpid,
			comWriter: writer,
			lev: lev,
			seq: seq
		};

		$.ajax({
			url: '/shopping/shoppingDetail/' + pid + '/comments/reply/' + commentsId,
			type: 'post',
			contentType: 'application/json; charset=utf-8',
			dataType: 'json',
			data: JSON.stringify(params),
			async: false,
			success: function (res) {
				reviewCount++;
				alert(res.msg);
				listComments();
			},
			error: function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	} */
</script>