<html xmlns="http://www.thymeleaf.org">
<form action="/shopping/shoppingWrite" method="post" id="wri" th:object="${productsBoardDTO}">
	<input type="hidden" name="memberId" th:value="${session.admin}" />
	<table class="shoppingWrite">
		<tr>
			<td colspan="2">
				<h1>상품게시글 등록</h1>
			</td>
		</tr>
		<tr>
			<td>등록 상태</td>
			<td>
				<select th:field="*{productsBoardStatus}">
					<option value="2">등록</option>
					<option value="1">미등록</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>상품</td>
			<td>
				<select th:field="*{productCode}" id="product">
				</select>
			</td>
		</tr>
		<tr>
			<td>간략소개</td>
			<td>
				<textarea cols="70" rows="10" th:field="*{intro}" id="intro"></textarea>
			</td>
		</tr>
		<tr>
			<td>상세소개</td>
			<td colspan="3">
				<div contenteditable="true" id="wriCon"></div>
				<textarea th:field="*{contents}" id="cont"></textarea>
			</td>
		</tr>
		<tr>
			<td>배송정보</td>
			<td>
				<textarea cols="70" rows="10" th:field="*{addressInfo}" id="addrInfo"></textarea>
			</td>
		</tr>
		<tr>
			<td>구매가이드</td>
			<td>
				<textarea cols="70" rows="10" th:field="*{guide}" id="guide"></textarea>
			</td>
		</tr>
		<tr>
			<td align="center" colspan="4">
				<input type="submit" value="등록" />
				<input type="button" value="취소" onclick="confirmCancel()" />
			</td>
		</tr>
	</table>
</form>
<script th:inline="javascript">
	$(document).ready(function(){
		const arrBags = [[${#arrays.length(bagsList)}]];
		
		if(arrBags == 0){
			alert('모든 상품이 등록되었습니다');
			location.href="/admin/goodsManage/1";
		}
		
		let category = null;
		let product = [[${bagsList}]];
		if(category == null){
			category = 1;
			product.forEach(function(item){
				if(category == item.categoriesId){
					$('#product').append('<option value="'+item.productCode+'">' +
					item.bagName+'</option>');
				}
			})
		}
		
		$('#category').change(function(){
			category = $('#category').val();
			$('#product').empty();
			product.forEach(function(item){
				if(category == item.categoriesId){
					$('#product').append('<option value="'+item.productCode+'">' +
					item.bagName+'</option>');
				}
			})
		})
	})
</script>