<html xmlns="http://www.thymeleaf.org">
<form th:action="|/shopping/shoppingModify/${productsBoard.productsBoardId}|" 
method="post" id="wri" th:object="${productsBoardDTO}">
	<input type="hidden" name="memberId" th:value="${session.admin}" />
	<table border="">
		<tr>
			<td width="150px">카테고리</td>
			<td th:each="cate:${categoriesList}" 
			th:if="${cate.categoriesId eq productsBoard.categoriesId}"
			th:text="${cate.categoriesName}">
			</td>
		</tr>
		<tr>
			<input type="hidden" th:value="${productsBoard.productCode}" name="productCode" />
			<td>상품</td>
			<td th:each="bag:${bagsList}"
			th:if="${bag.productCode eq productsBoard.productCode}"
			th:text="${bag.bagName}">
			</td>
		</tr>
		<tr>
			<td>간략소개</td>
			<td>
				<textarea cols="70" rows="10" name="intro" th:text="${productsBoard.intro}" id="intro"></textarea>
			</td>
		</tr>
		<tr>
			<td>상세소개</td>
			<td colspan="3">
				<div contenteditable="true" id="wriCon"
				th:utext="${productsBoard.contents}"
				style="width: 500px; height: 600px;"></div>
				<textarea th:field="*{contents}" id="cont"></textarea>
			</td>
		</tr>
		<tr>
			<td>배송정보</td>
			<td>
				<textarea cols="70" rows="10" name="addressInfo" th:text="${productsBoard.addressInfo}" id="addrInfo"></textarea>
			</td>
		</tr>
		<tr>
			<td>구매가이드</td>
			<td>
				<textarea cols="70" rows="10" name="guide" th:text="${productsBoard.guide}" id="guide"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<input type="submit" value="등록" />
				<input type="button" value="취소" onclick="confirmCancel()" />
			</td>
		</tr>
	</table>
</form>
<script th:inline="javascript">
	$(document).ready(function(){
		let category = null;
		let product = [[${bagsList}]];
		let prbCode = [[${productsBoard.productCode}]];
		if(category == null){
			category = 1;
			product.forEach(function(item){
				if(category == item.categoriesId){
					$('#product').append('<option value="'+item.productCode+'">' +
					item.bagName+'</option>');
					$('#product').find('option[value="'+prbCode+'"').prop('selected', true);
				}
			})
		}
		
		$('#category').change(function(){
			category = $('#category').val();
			$('#product').empty();
			product.forEach(function(item){
				if(category == item.categoriesId){
					$('#product').append('<option value="'+item.productCode+'">' + 
					item.bagName+'</option>');
					$('#product').find('option[value="'+prbCode+'"').prop('selected', true);
				}
			})
		})
	})
</script>