<html xmlns="http://www.thymeleaf.org">
<script th:inline="javascript">

	function deleteAddrBtn(data) {
		if (!confirm('해당 주소를 삭제할까요?')) {
			return false;
		}
		$.ajax({
			url: "/member/deleteAddress",
			type: "post",
			data: {addressId: data},
			dataType: 'json',
			success: function (result) {
				if (result == true) {
					alert("주소 삭제 되었습니다.")
					location.href = '/member/addressManage'
				} else {
					alert("기본 주소 1개는 존재해야 합니다.")
					location.href = '/member/addressManage'
				}
			},
			error: function () {
				alert("요청 실패");
			}
		})
	}

	function setBasicAddrBtn(data) {
		if (!confirm('기본 주소로 설정할까요?')) {
			return false;
		}
		$.ajax({
			url: "/member/setBasicAddr",
			type: "post",
			data: {addressId: data},
			dataType: 'json',
			success: function (result) {
				if (result > 0) {
					window.alert("기본 주소 변경 되었습니다.")
					window.location.href = '/member/addressManage'
				} else {
					window.alert("주소 변경 실패.")
				}
			},
			error: function () {
				alert("요청 실패");
			}
		})
	}

	function addAddress() {
		$.ajax({
			url: "/member/checkAddr",
			type: "post",
			success: function (result) {
				if (result >= 5) {
					window.alert("주소는 5개까지만 추가가 가능합니다!")
					window.location.href = '/member/addressManage'
				} else {
					window.location.href = '/member/addAddress'
				}
			},
			error: function () {
				alert("요청 실패");
			}
		})
	}

</script>
<div class="body">

	<div class="menu">
		<ul>
			<th:block th:if="${memberService == 'myProfile'}">
				<li><a th:href="|/member/myProfile|" style="background-color: #333; color: #fff;">내 정보</a></li>
			</th:block>
			<th:block th:unless="${memberService == 'myProfile'}">
				<li><a th:href="|/member/myProfile|">내 정보</a></li>
			</th:block>

			<th:block th:if="${memberService == 'myOrder'} or ${memberService == 'myOrderDetail'}">
				<li><a th:href="|/member/myOrder/1|" style="background-color: #333; color: #fff;">주문내역</a></li>
			</th:block>
			<th:block th:unless="${memberService == 'myOrder'} or ${memberService == 'myOrderDetail'}">
				<li><a th:href="|/member/myOrder/1|">주문내역</a></li>
			</th:block>

			<th:block th:if="${memberService == 'myInquiry'} or ${memberService == 'myInquiryDetail'}">
				<li><a th:href="|/member/myInquiry/1|" style="background-color: #333; color: #fff;">문의내역</a></li>
			</th:block>
			<th:block th:unless="${memberService == 'myInquiry'} or ${memberService == 'myInquiryDetail'}">
				<li><a th:href="|/member/myInquiry/1|">문의내역</a></li>
			</th:block>

			<th:block
				th:if="${memberService == 'addressManage'} or ${memberService == 'addAddress'} or ${memberService == 'modifyAddress'}">
				<li><a href="/member/addressManage" style="background-color: #333; color: #fff;">주소록 관리</a></li>
			</th:block>
			<th:block
				th:unless="${memberService == 'addressManage'} or ${memberService == 'addAddress'} or ${memberService == 'modifyAddress'}">
				<li><a href="/member/addressManage">주소록 관리</a></li>
			</th:block>

			<th:block th:if="${memberService == 'modifyPw'}">
				<li><a th:href="|/member/modifyPw|" style="background-color: #333; color: #fff;">비밀번호 수정</a></li>
			</th:block>
			<th:block th:unless="${memberService == 'modifyPw'}">
				<li><a th:href="|/member/modifyPw|">비밀번호 수정</a></li>
			</th:block>

			<th:block th:if="${memberService == 'quitMember'}">
				<li><a href="/member/quitMember" style="background-color: #333; color: #fff;">회원 탈퇴</a></li>
			</th:block>
			<th:block th:unless="${memberService == 'quitMember'}">
				<li><a href="/member/quitMember">회원 탈퇴</a></li>
			</th:block>
		</ul>
	</div>
	<div class="contents">
		<h1>주소록 관리</h1>
		<table id="myAddrTable">
			<tr>
				<td>상태</td>
				<td>우편번호</td>
				<td>주소</td>
				<td>상세주소</td>
				<td>연락처</td>
				<td>수정</td>
				<td>삭제</td>
				<td>관리</td>
			</tr>
			<tr th:each="addr : ${address}">
				<td th:if="${addr.basicAddr == 1}" th:text="기본주소" />
				<td th:unless="${addr.basicAddr == 1}" />
				<td th:text="${addr.zipCode}" />
				<td th:text="${addr.address}" />
				<td th:text="${addr.detailAddress}" />
				<td th:text="${addr.addressPhone}" />
				<td><a th:href="|/member/modifyAddress/${addr.addressId}|" class="addrModiBtn">수정</a></td>
				<td><button id="deleteAddr" th:addrParam="${addr.addressId}"
						th:onclick="deleteAddrBtn(this.getAttribute('addrParam'))" th:text="|삭제|" /></td>
				<td><button id="setBasicAddr" th:if="${addr.basicAddr == 0}" th:addrParam="${addr.addressId}"
						th:onclick="setBasicAddrBtn(this.getAttribute('addrParam'))" th:text="|기본 주소로 설정|" /></td>
			</tr>
			<tr>
				<td colspan="8"><a href="/member/addAddress" class="addrBtn">배송지 추가</a></td>
			</tr>
		</table>

	</div>
</div>