<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>아이디 찾기</title>
	<script>
		function findPw() {
			var id = $('#memberId').val()
			var name = $('#memberName').val()
			var phone1 = $('#phone1').val()
			var phone2 = $('#phone2').val()
			var phone3 = $('#phone3').val()
			var phone = phone1 + "-" + phone2 + "-" + phone3
			var idReg = /^[a-zA-Z0-9]+$/;
			var nameReg = /^[가-힣]+$/;
			var phoneReg = /^[0-9]+$/;
			if(id == ''){
				alert('아이디를 입력해 주세요.')
				$('#memberId').focus
				return false;
			}
			if(!idReg.test(id)){
				alert('아이디는 영문 숫자 조합으로 입력해주세요.')
				$('#memberId').focus
				return false;
			}
			if(name == ''){
				alert("이름을 입력해 주세요.")
				$('#memberName').focus
				return false;
			}
			if(!nameReg.test(name)){
				alert("이름은 한글만 입력 해주세요.")
				$('#memberName').focus
				return false;
			}
			if(phone2 == '' || phone3 == ''){
				alert("전화번호를 입력해 주세요.")
				$('#phone2').focus
				return false;
			}
			if(!phoneReg.test(phone2) || !phoneReg.test(phone3)){
				alert("전화번호는 숫자만 입력해 주세요.")
				$('#phone2').focus
				return false;
			}
			
			$.ajax({
				url: "findPw",
				type: "post",
				data: {id: id, name: name, phone: phone},
				dataType: 'text',
				success: function (data) {
					console.log(data)
					if (data) {
						alert('새 비밀번호로 변경해주세요')
						$('#find').hide()
						$('#pwCheckBox').show()
						$('#id').val(data)
					} else {
						alert("해당하는 회원이 없습니다!")
					}
				},
				error: function () {
					alert("해당하는 회원이 없습니다!")
				}
			})

		}

		function findPwBtn() {
			var pw = $('#memberPw').val()
			var pw2 = $('#memberPw2').val()
			console.log(pw)
			console.log(pw2)
			if(pw == ''){
				alert('비밀번호를 입력해주세요.');
				return false;
			}
			if(pw2 == ''){
				alert('비밀번호 확인란을 입력해주세요.');
				return false;
			}
			if (pw != pw2) {
				alert("비밀번호와 비밀번호 확인이 같지 않습니다.");
				return false;
			}
			$('#newPw').submit()
		}

	</script>
</head>

<body>
	<div>
		<div id="find">
			<b>본인 확인을 통해 비밀번호를 재설정 하실 수 있습니다.</b><br />
			<span>아이디 </span><input type="text" id="memberId" /> <br />
			<span>이름 </span><input type="text" id="memberName" /> <br />
			<span>전화번호 </span>
			<select id="phone1">
				<option>010</option>
				<option>011</option>
				<option>016</option>
				<option>017</option>
				<option>019</option>
			</select>
			- <input type="text" id="phone2" /> - <input type="text" id="phone3" /><br>
			<button type="button" onclick="findPw()" class="submit-btn">찾기</button>
		</div>
		<div id="pwCheckBox">
			<form action="findPwReg" method="post" id="newPw">
				<input type="hidden" id="id" name="memberId" />
				<span>새 비밀번호 </span><input type="password" id="memberPw" name="memberPw" /> <br />
				<span>비밀번호 확인 </span><input type="password" id="memberPw2" /><br/>
				<button type="button" onclick="findPwBtn()" class="submit-btn">찾기</button>
			</form>
		</div>
	</div>
</body>

</html>