<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>아이디 찾기</title>
	<script>
		function findId() {
			var name = $('#memberName').val()
			var phone1 = $('#phone1').val()
			var phone2 = $('#phone2').val()
			var phone3 = $('#phone3').val()
			var phone = phone1 + "-" + phone2 + "-" + phone3
			$.ajax({
				url: "findId",
				type: "post",
				data: {name: name, phone: phone},
				dataType: 'text',
				success: function (data) {
					console.log(data)
					if (data) {
						$('#find').hide()
						$('#result').text("회원님의 ID는 " + data + " 입니다.")
					} else {
						alert("해당하는 ID가 없습니다.")
					}
				},
				error: function () {
					alert("해당하는 ID가 없습니다.");
				}
			})
		}

	</script>
</head>

<body>

	<div class="body">
		<div id="find">
			이름 : <input type="text" class="text" id="memberName" /> <br />
			전화번호 :
			<select id="phone1">
				<option>010</option>
				<option>011</option>
				<option>016</option>
				<option>017</option>
				<option>019</option>
			</select>
			<input type="text" id="phone2" class="text" />-<input type="text" id="phone3" /><br>
			<button onclick="findId()" class="submit-btn">찾기</button>
		</div>

		<div id="findId">
			<h2 id="result"></h2>
		</div>
	</div>
</body>

</html>