<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>비밀번호 수정</title>
	<script>
		function modifyPwBtn() {
			var userPw = $("#pw").val()
			var modifyPw = $("#modifyPw").val()
			var modifyPw2 = $("#modifyPw2").val()
			if (modifyPw != modifyPw2) {
				alert("변경할 비밀번호를 확인해주세요.")
				return false;
			}
			if (userPw == modifyPw || userPw == modifyPw2) {
				alert("변경할 비밀번호가 현재 비밀번호와 같습니다!")
				return false;
			}
			$.ajax({
				url: "pwCheck",
				type: "post",
				data: {userPw: userPw},
				dataType: 'json',
				success: function (result) {
					if (result > 0) {
						$("#modiForm").submit();
					} else {
						alert("현재 비밀번호가 다릅니다!")
					}
				},
				error: function () {
					alert("요청 실패");
				}
			})

		}

	</script>
</head>

<body>
	<div class="body">
		<div class="menu">
			<ul>
				<th:block th:if="${memberService == 'myProfile'}">
					<li><a th:href="|/member/myProfile|" style="background-color: #333; color: #fff;">내 정보</a></li>
				</th:block>
				<th:block th:unless="${memberService == 'myProfile'}">
					<li><a th:href="|/member/myProfile|">내 정보</a></li>
				</th:block>

				<th:block th:if="${memberService == 'myOrder'} or ${memberService == 'myOrderDetail'}">
					<li><a th:href="|/member/myOrder/1|" style="background-color: #333; color: #fff;">주문내역</a></li>
				</th:block>
				<th:block th:unless="${memberService == 'myOrder'} or ${memberService == 'myOrderDetail'}">
					<li><a th:href="|/member/myOrder/1|">주문내역</a></li>
				</th:block>

				<th:block th:if="${memberService == 'myInquiry'} or ${memberService == 'myInquiryDetail'}">
					<li><a th:href="|/member/myInquiry/1|" style="background-color: #333; color: #fff;">문의내역</a></li>
				</th:block>
				<th:block th:unless="${memberService == 'myInquiry'} or ${memberService == 'myInquiryDetail'}">
					<li><a th:href="|/member/myInquiry/1|">문의내역</a></li>
				</th:block>

				<th:block
					th:if="${memberService == 'addressManage'} or ${memberService == 'addAddress'} or ${memberService == 'modifyAddress'}">
					<li><a href="/member/addressManage" style="background-color: #333; color: #fff;">주소록 관리</a></li>
				</th:block>
				<th:block
					th:unless="${memberService == 'addressManage'} or ${memberService == 'addAddress'} or ${memberService == 'modifyAddress'}">
					<li><a href="/member/addressManage">주소록 관리</a></li>
				</th:block>

				<th:block th:if="${memberService == 'modifyPw'}">
					<li><a th:href="|/member/modifyPw|" style="background-color: #333; color: #fff;">비밀번호 수정</a></li>
				</th:block>
				<th:block th:unless="${memberService == 'modifyPw'}">
					<li><a th:href="|/member/modifyPw|">비밀번호 수정</a></li>
				</th:block>

				<th:block th:if="${memberService == 'quitMember'}">
					<li><a href="/member/quitMember" style="background-color: #333; color: #fff;">회원 탈퇴</a></li>
				</th:block>
				<th:block th:unless="${memberService == 'quitMember'}">
					<li><a href="/member/quitMember">회원 탈퇴</a></li>
				</th:block>
			</ul>
		</div>

		<div class="pwForm">
			<h1>비밀번호 수정</h2>
				<div class="pwBox">
					<div class="field">
						<form action="" method="post" id="modiForm">
							<label for="pw">현재 비밀번호</label>
							<input type="text" id="pw" name="memberPw" />
							<label for="modifyPw">변경할 비밀번호</label>
							<input type="text" id="modifyPw" name="modifyPw" />
							<label for="modifyPw2">변경할 비밀번호 확인</label>
							<input type="text" id="modifyPw2" /> <br />
							<input type="button" onclick="modifyPwBtn()" value="수정" />
						</form>
					</div>
				</div>
		</div>
	</div>
</body>

</html>