<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>회원 가입</title>
</head>

<body>
	<!--회원 가입 메인-->
	<div class="member">
		<h3>IWILLBAG 회원가입</h3>
		<form action="" method="post" id="signUpForm">

			<div class="field">
				<label for="id">아이디</label>
				<input type="text" id="id" name="memberId" />
				<input type="button" value="중복확인" id="idCheck" />
				<br />
				<font id="idCheckBox" />
			</div>
			<div class="field">
				<label for="pw">비밀번호</label>
				<input type="text" id="pw" name="memberPw" />
			</div>
			<div class="field">
				<label for="pw2">비밀번호 확인</label>
				<input type="text" id="pw2" name="memberPw2" />
			</div>
			<div class="field">
				<label for="name">이름</label>
				<input type="text" id="name" name="memberName" />
			</div>
			<div class="field">
				<label for="email">이메일</label>
				<input type="text" id="email" name="emailId" />
				@
				<input type="hidden" id="emailDomainInput">
				<select id="emailDomain" name="emailDomain" onchange="changeDomain()">
					<option>naver.com</option>
					<option>daum.net</option>
					<option>google.com</option>
					<option>nate.com</option>
					<option>직접입력</option>
				</select>
			</div>
			<div class="tel">
				<label for="phone1">핸드폰</label>
				<select id="phone1" name="phone1">
					<option>010</option>
					<option>011</option>
					<option>016</option>
					<option>017</option>
					<option>019</option>
				</select>
				<input type="text" id="phone2" name="phone2" />
				<input type="text" id="phone3" name="phone3" />
				<input type="button" value="인증" id="phoneChk">

				<div class="field">
					<label for="phoneChkInput">인증번호 확인</label>
					<input id="phoneChkInput" type="text">
					<input id="phoneChk2" type="button" value="인증확인">
				</div>
			</div>
			<div class="field">
				<label for="zipCode">주소</label>
				<input type="text" id="zipCode" name="zipCode" placeholder="우편번호" />
				<input type="button" onclick="execDaumPostcode()" value="우편번호 찾기" />
				<input type="text" id="address" name="address" placeholder="도로명주소" />
				<input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소" />
			</div>
			<div class="btnBox">
				<button type="button" onclick="signUp()" class="btn btn-block btn-secondary">가입</button>
				<a href="/" class="btn btn-block btn-secondary">취소</a>
			</div>
		</form>
	</div>
	<!--회원 가입 끝-->
	
</body>

</html>