@charset "UTF-8";

.body {
	width: 1200px;
	margin: 20px auto;
}

/*회원가입*/
.member {
	width: 800px;
	/* border: 1px solid #000; */
	margin: 100px auto;
	/*중앙 정렬*/
	padding: 30px;
	border: 1px solid #222;
	margin-bottom: 50px;
	background-color: #f5f6f7;
	height: 1000px;
}

.member p {
	font-size: 2em;
	text-align: center;
	margin: 20px 0px 30px 0px;
}

.member form {
	margin-left: 180px;

}

.member .field {
	margin: 5px 0;
	/*상하로 좀 띄워주기*/
}

.member label {
	/* border: 1px solid #000; */
	display: block;
	/*수직 정렬하기 */
	margin-bottom: 5px;
}

.member .field input[type='text'] {
	font-size: 1em;
	width: 330px;
	height: 45px;
	border: 1px solid #222;
	border-radius: 5px;
}

.member .field input[type='password'] {
	font-size: 1em;
	width: 330px;
	height: 45px;
	border: 1px solid #222;
	border-radius: 5px;
}

.member #emailDomain {
	font-size: 1em;

	border: 1px solid #222;
	border-radius: 5px;
	padding: 10px;
	width: 150px;
}

.member #phone1 {
	font-size: 1em;
	border: 1px solid #222;
	border-radius: 5px;
	padding: 10px;
	width: 100px;
}

.member form .tel #phone2,
.member form .tel #phone3 {
	font-size: 1em;
	margin-bottom: 10px;
	border: 1px solid #222;
	border-radius: 5px;
	height: 40px;
	width: 150px;
}

.member .field #zipCode,
.member .field #address {
	margin-bottom: 5px;
}

.member input[type='button'] {
	border: 1px solid #222;
	border-radius: 5px;
	height: 45px;
}

.member .btnBox {
	width: 400px;
	display: flex;
	flex-direction: row;
	flex: 1;
}

.member .btnBox button {
	width: 170px;
	height: 30px;
	margin-top: 30px;
}

.member .btnBox button:nth-child(2) {
	margin-left: 20px;
}


/*로그인*/
.login-form {
	width: 300px;
	border: 0;
	border-radius: 5px;
	background-color: #EEEFF1;
	padding: 20px;
	margin: 100px auto;
}

.text {
	font-size: 14px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 280px;
}

.submit-btn {
	color: #EEEFF1;
	font-size: 14px;
	background-color: rgb(0, 64, 128);
	margin-bottom: 30px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	width: 100%;
}

.link {
	text-align: center;
	font-size: 14px;

}

.link a {
	text-decoration: none;
	color: #222;
}

/*로그인 끝*/

/*아이디 찾기*/
#find {
	width: 500px;
	border: 0;
	border-radius: 5px;
	background-color: #EEEFF1;
	padding: 20px;
	margin: 100px auto;
}

#find span {
	margin-left: 20px;
}

#find b {
	margin-left: 20px;
}

#find #memberName {
	font-size: 1em;
	width: 355px;
	margin-left: 32px;
	margin-bottom: 30px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

#find #memberId {
	font-size: 1em;
	width: 355px;
	margin-left: 15px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

#find select {
	font-size: 1em;
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 100px;
}

#find #phone2,
#find #phone3 {
	font-size: 1em;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 100px;
}

#find #bottom {
	margin: 0px auto;
	font-size: 20px;
	width: 80%;
	display: none;
}

#find #bottom #result {
	text-align: center;
	margin: 100px auto;
}

#pwCheckBox {
	width: 500px;
	border: 0;
	border-radius: 5px;
	background-color: #EEEFF1;
	padding: 20px;
	margin: 100px auto;
	display: none;
}

#pwCheckBox #memberPw {
	font-size: 1em;
	width: 330px;
	margin-left: 32px;
	margin-bottom: 30px;
	margin-top: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

#pwCheckBox #memberPw2 {
	font-size: 1em;
	width: 330px;
	margin-left: 15px;
	margin-bottom: 30px;
	border: none;
	border-radius: 5px;
	padding: 10px;
}

/*아이디 찾기 끝*/


/*마이페이지 입장*/
#myPageReg {
	width: 400px;
	padding: 20px 0px 40px 0px;
	text-align: center;
	margin: 150px auto 150px auto;
	background-color: #eee;
	border: 1px solid #222;
}

#myPageReg input[type='password'] {
	height: 30px;
	border: 1px solid #222;
	border-radius: 5px;
}

#myPageReg input[type='submit'] {
	height: 34px;
	border: 1px solid #222;
	border-radius: 5px;
}

/*마이페이지 메뉴*/

.menu ul {
	list-style-type: none;
	padding: 0px;
	width: 150px;
	position: absolute;
}

.menu li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	color: #000;
	font-weight: bold;
}

.menu li a:hover {
	background: #333;
	color: #fff;
}

/*마이페이지 컨텐츠*/
.contents {
	margin: 100px auto;
	margin-left: 150px;
	text-align: center;
	height: 700px;
}

.contents table {
	width: 800px;
	margin: 0 auto;
	border-collapse: collapse;
}

/*마이페이지 내정보*/
#profileTable tr td {
	padding: 20px;
	border: 1px solid darkgray;
	border-left: 0px;
	border-right: 0px;
}

#profileTable tr td:nth-child(1) {
	background-color: lightgray;
}

/*마이페이지 주문내역*/
#myOrdTable{
	width: 1000px;
}

#myOrdTable tr td {
	padding: 10px;
	border: 1px solid black;
	border-right: 0px;
	border-left: 0px;
}

#myOrdTable tr td a {
	text-decoration: none;
	color: black;
}

#myOrdTable tr td a:hover {
	text-decoration: underline;
	color: black;

}

#myOrdTable tr:nth-child(1) td {
	font-weight: bold;
}

/*마이페이지 문의내역*/
#myInqTable{
	width: 1000px;
}

#myInqTable tr td {
	padding: 5px 10px;
	border: 1px solid black;
	border-right: 0px;
	border-left: 0px;
}

#myInqTable tr td a {
	text-decoration: none;
	color: black;
}

#myInqTable tr td a:hover {
	text-decoration: underline;
	color: black;

}

#myInqTable tr:nth-child(1) td {
	font-weight: bold;
}

#myInqTable tr td:nth-child(2) {
	width: 300px;
	text-align: left;
}

/*배송지 관리*/

#myAddrTable{
	width: 1000px;
	
}
#myAddrTable tr:first-child {
	font-weight: bold;
}

#myAddrTable tr td {
	padding: 10px;
	border: 1px solid black;
	border-right: 0px;
	border-left: 0px;

}


#myAddrTable .addrModiBtn {
	width: 42.67px;
	height: 24px;
	font-size: 13.33333px;
	text-decoration: none;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: 18px;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	padding-block: 1px;
	padding-inline: 6px;
	border-width: 1px;
	border-radius: 3px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

#myAddrTable a:hover {
	background-color: lightgray;
}

#myAddrTable tr:last-child td {
	border-bottom: 0px;
}

#myAddrTable .addrBtn {
	text-decoration: none;
	color: black;
	width: 100px;
	height: 30px;
	font-size: 16px;
	text-decoration: none;
	text-rendering: auto;
	color: buttontext;
	letter-spacing: normal;
	word-spacing: normal;
	line-height: 26px;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	box-sizing: border-box;
	background-color: buttonface;
	padding-block: 1px;
	padding-inline: 6px;
	border-width: 1px;
	border-radius: 3px;
	border-style: outset;
	border-color: buttonborder;
	border-image: initial;
}

/*배송지 추가 수정*/
.addrForm {
	margin-top: 100px;
	margin-left: 150px;
	text-align: center;
	margin-bottom: 100px;
}

.addrForm h1 {
	text-align: center;
}

.addrForm .addrBox {
	background-color: #eee;
	margin-left: 260px;
	text-align: left;
	width: 500px;
	height: 300px;
	border: 1px solid #222;
	font-size: 16px;
}

.addrForm .field {
	margin: 30px auto 10px 110px;
}

.addrForm label {
	display: block;
	margin-bottom: 5px;
}

.addrForm .field #zipCode,
.addrForm .field #address {
	margin-bottom: 5px;
}

.addrForm #zipCode,
.addrForm #address,
.addrForm #detailAddress {
	width: 200px;
	height: 20px;
}

.addrForm .addressPhone {
	width: 100px;
	height: 20px;
}

.addrForm select {
	height: 24px;
}

.addrForm #addAddrBtn {
	font-size: 16px;
	margin-top: 20px;
	margin-left: 225px;
}


/*비밀번호 변경*/
.pwForm {
	margin-top: 100px;
	margin-left: 150px;
	text-align: center;
	margin-bottom: 100px;
}

.pwForm h1 {
	text-align: center;
}

.pwForm .pwBox {
	background-color: #eee;
	margin-left: 260px;
	text-align: left;
	width: 500px;
	height: 300px;
	border: 1px solid #222;
	font-size: 16px;
}

.pwForm .field {
	margin: 30px auto 10px 110px;
}

.pwForm label {
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 50px;
}

.pwForm input[type='button'] {
	font-size: 16px;
	margin-top: 20px;
	margin-left: 125px;
}

#modiForm input[type='text'] {
	width: 200px;
	height: 25px;
	margin-left: 50px;
}

/*회원탈퇴*/

.pwForm .quitBox {
	background-color: #eee;
	margin-left: 260px;
	text-align: left;
	width: 500px;
	height: 250px;
	border: 1px solid #222;
	font-size: 16px;
}

#quitForm label {
	margin-top: 20px;
	display: block;
	margin-bottom: 5px;
	margin-left: 50px;
}

#quitForm input[type='text'],
#quitForm input[type='password'] {
	width: 200px;
	height: 25px;
	margin-left: 50px;
}

#quitForm input[type='submit'] {
	font-size: 16px;
	margin-top: 20px;
	margin-left: 125px;
}