<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="shopping/inc/view">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="/css/shoppingCss/shopping.css" />
<script src="https://code.jquery.com/jquery-3.7.1.js" 
integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" 
crossorigin="anonymous"></script>
<script th:inline="javascript">
	function shoppingWriteCancel(){
		$.ajax({
			url : '/fileUpload/fileDelete',
			type : 'post',
			dataType : 'json',
			async : false,
			success : function(res) {
				alert(res.msg);
				location.href='/shopping/shoppingList/0/0/0/1/newest';
			},
			error : function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}
	
	function shoppingDelete(productsBoardId){
		$.ajax({
			url : '/shopping/shoppingDelete/'+productsBoardId,
			type : 'post',
			dataType : 'json',
			async : false,
			success : function(res) {
				alert(res.msg);
				location.href=res.url;
			},
			error : function (req, status, error) {
				console.log(req);
				console.log(status);
				console.log(error);
			}
		})
	}
	
	function confirmDeletePrb(productsBoardId){
		if(confirm('정말 삭제하시겠습니까?')){
			shoppingDelete(productsBoardId);
		}
	}
	
	function confirmCancel(){
		if(confirm('정말 취소하시겠습니까?')){
			shoppingWriteCancel();
		}
	}
	
	$(document).ready(function(){
		let dropDiv = document.getElementById('wriCon');
		let member = [[${session.admin}]];
		
		dropDiv.addEventListener('drop', function(event){
			event.preventDefault();
			
			let files = event.dataTransfer.files;
		
			const selection = window.getSelection();
			const range = selection.getRangeAt(0);
			const span = document.createElement('span');
			range.insertNode(span);
			
			let regPtn = /\.(jpg|png|jpeg|svg|bmf|gif)$/i;
			
			// div - id: notWriCon으로 drop된 이미지 파일들
			Array.from(files).forEach(file => {
				if(!regPtn.test(file.name)){
					alert('이미지 파일이 아닙니다');
					return;
				}
				
				let form = new FormData(); // 파일을 보낼 새로운 form
				form.append('file', file);
				form.append('member', member);
				
				fetch('/fileUpload/files', {
					method : 'post',
					body : form
				})
				.then(response => response.json())
				.then(data => {
					let addVal = '<img src="/upFile/'+data.file+'" alt="등록된 이미지"/>';
					span.innerHTML += addVal;
				})
				.catch(error => {
		            console.error('파일 전송 실패:', error);
		        });
			});
		});
		
		const config = {childList: true, subtree: true};
		const mutationCallback = (mutationList, observer) => {
			for(const mutation of mutationList){
				for(const removedNode of mutation.removedNodes){
					let src = removedNode.querySelector('img').src;
					let fileName = src.substring(src.lastIndexOf("/")+1);
					$.ajax({
						url : '/fileUpload/writingFileDelete/'+fileName,
						type : 'post',
						dataType : 'json',
						async : false,
						success : function(res) {
							console.log(res.msg);
						},
						error : function (req, status, error) {
							console.log(req);
							console.log(status);
							console.log(error);
						}
					})
				}
			}
		}
		const observer = new MutationObserver(mutationCallback);
		observer.observe(dropDiv, config);
		
		$('#wri').submit(function(event){
			event.preventDefault();
			
			let intro = $('#intro').val().trim();
			let content = $('#wriCon').text().trim();
			let addrInfo = $('#addrInfo').val().trim();
			let guide = $('#guide').val().trim();
			if(intro.length === 0 || intro.length > 300){
				alert('간략소개는 1~300글자까지 가능합니다');
				return false;
			}else if(content.length === 0 || content.length > 5000){
				alert('상세소개는 1~5000글자까지 가능합니다');
				return false;
			}else if(addrInfo.length === 0 || addrInfo.length > 1000){
				alert('배송정보는 1~1000글자까지 가능합니다');
				return false;
			}else if(guide.length === 0 || guide.length > 1000){
				alert('구매가이드는 1~1000글자까지 가능합니다');
				return false;
			}else {
				$('#cont').val(dropDiv.innerHTML);
			    $('#wri').get(0).submit();
			}
		})
	})
	
	function topBtn(){
		window.scrollTo(0, 0);
	}
</script>
</head>
<body>
</body>
</html>