<html xmlns="http://www.thymeleaf.org">
<h1>header</h1>
<a href="/">홈으로</a>
<div>
	<ul>
		<li>
			<a href="/shopping/shoppingList/0/0/0/1">전체보기</a>
		</li>
	</ul>
</div>
<div>
	<h3>브랜드</h3>
	<ul>
		<li th:each="brand:${brandList}">
			<a th:href="|/shopping/shoppingList/${brand.brandId}/0/0/1|" th:text="${brand.brandName}"></a>
		</li>
	</ul>
</div>
<div th:each="cate:${categoriesList}">
	<h3 th:text="${cate.categoriesName}"></h3>
	<ul>
		<li th:each="type:${typeList}"
		th:if="${type.categoriesId eq cate.categoriesId}">
			<a th:href="|/shopping/shoppingList/0/${cate.categoriesId}/${type.typeId}/1|"
			th:text="${type.typeName}"></a>
		</li>
	</ul>
</div>
<div>
	<ul>
		<li>
			<a href="/shopping/shoppingCart" 
			th:if="${cartCount != null and cartCount != 0}" 
			th:text="|장바구니(${cartCount})|"></a>
			<a href="/shopping/shoppingCart" 
			th:unless="${cartCount != null and cartCount != 0}">장바구니</a>
		</li>
	</ul>
</div>
<hr/>