<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>상품 관리</title>
	<script th:inline="javascript">

		function deleteGoods(goods) {
			console.log([[${pd.page}]])
			if (!confirm('정말로 삭제하시겠습니까?')) {
				return false;
			}
			$.ajax({
				url: "/admin/deleteGoods/" + [[${pd.page}]],
				type: "post",
				data: {productCode: goods},
				dataType: 'json',
				success: function (result) {
					if (result > 0) {
						window.alert("삭제 되었습니다.")
						window.location.href = '/admin/goodsManage/' + [[${pd.page}]]
					} else {
						window.alert("삭제 실패.")
					}
				},
				error: function () {
					alert("요청 실패");
				}
			})
		}
		$(document).on('click', '#btnSearch', function (e) {
			e.preventDefault();
			var url = "/admin/goodsManage/1";
			url = url + "?searchType=" + $('#searchType').val();
			url = url + "&keyword=" + $('#keyword').val();
			console.log(url);
			location.href = url;
		});	
	</script>
</head>

<body>
	<h2>상품 관리</h2>
	<a href="/admin/adminMain">뒤로</a>

	<table border="">
		<tr>
			<td>상품코드</td>
			<td>카테고리</td>
			<td>타입</td>
			<td>브랜드</td>
			<td>상품명</td>
			<td>가격</td>
			<td colspan="3" align="center">관리</td>
		</tr>
		<th:block th:if="${pd.pageEnd > 0}">
			<tr th:each="bag : ${bags}">
				<td th:text="${bag.productCode}" />
				<th:block th:each="category : ${categories}" th:if="${category.categoriesId == bag.categoriesId}">
					<td th:text="${category.categoriesName}" />
				</th:block>
				<th:block th:each="type : ${types}" th:if="${type.typeId == bag.typeId}">
					<td th:text="${type.typeName}" />
				</th:block>
				<th:block th:each="brand : ${brands}" th:if="${brand.brandId == bag.brandId}">
					<td th:text="${brand.brandName}" />
				</th:block>
				<td><a th:href="|/admin/goodsDetail/${bag.productCode}/${pd.page}|">[[${bag.bagName}]]</a></td>
				<td th:text="${bag.bagPrice}" />

				<td><a th:href="|/admin/modifyGoods/${bag.productCode}/${pd.page}|">수정</a></td>
				<td><button id="deleteMember" th:goodsParam="${bag.productCode}"
						th:onclick="deleteGoods(this.getAttribute('goodsParam'))" th:text="|삭제|" /></input></td>
				<td>
					<input type="button" th:id="|chgPrb${bag.productCode}|" th:onclick="|chgPrb(${bag.productCode})|" />
					<button th:bagParam="${bag.productCode}" th:onclick="modifyBoardBtn(this.getAttribute('bagParam'))"
						th:text="|게시글 수정|" />

				</td>
			</tr>
		</th:block>
		<th:block th:if="${pd.pageEnd == 0}">
			<tr>
				<td colspan="18">검색된 상품이 없습니다!</td>
			</tr>
		</th:block>
		<tr>
			<td colspan="20" align="center">
				<th:block th:if="${pd.pageStart} > 1">
					<a th:href="|${pd.pageStart-1}|" th:text="[이전]" />
				</th:block>
				<th:block th:if="${pd.pageEnd > 0}">
					<th:block th:each="num : ${#numbers.sequence(pd.pageStart,pd.pageEnd)}">
						<b th:if="${num} == ${pd.page}">
							<a th:href="|${num}?searchType=${pd.searchType}&keyword=${pd.keyword}|" th:text="${num}" />
						</b>
						<th:block th:unless="${num} == ${pd.page}">
							<a th:href="|${num}?searchType=${pd.searchType}&keyword=${pd.keyword}|" th:text="${num}" />
						</th:block>
					</th:block>

					<th:block th:if="${pd.pageEnd == 0}">
						<b>
							<a th:href="|1?searchType=${pd.searchType}&keyword=${pd.keyword}|" th:text="1" />
						</b>
					</th:block>
					<th:block th:if="${pd.pageEnd} < ${pd.pageTotal}">
						<a th:href="|${pd.pageEnd+1}|" th:text="[다음]" />
					</th:block>
			</td>
		</tr>
		<tr>
			<td colspan="20">

				<select id="searchType" name="searchType">
					<option value="Code" selected>상품코드</option>
					<option value="Category">카테고리</option>
					<option value="Type">타입</option>
					<option value="Brand">브랜드</option>
					<option value="Name">상품명</option>
					<option value="Price">가격</option>
				</select>

				<input type="text" id="keyword">
				<input type="submit" id="btnSearch" value="검색">
				<a href="/admin/goodsManage/1">검색 초기화</a>
				<a th:href="|/admin/addGoods/${pd.page}|">상품 추가</a>
			</td>
		</tr>
	</table>
</body>

</html>
<script>
	function modifyBoardBtn(data) {
		$.ajax({
			url: "/admin/modifyBoard",
			type: "post",
			data: {productCode: data},
			dataType: 'json',
			success: function (result) {
				if (result > 0) {
					if (confirm('게시글 수정 페이지로 가시겠습니까?')) {
						location.href = "/shopping/shoppingModify/"+result;
					}
				} else {
					alert("작성된 글이 없습니다. 글을 먼저 등록해 주세요.")
				}
			},
			error: function () {
				alert("작성된 글이 없습니다. 글을 먼저 등록해 주세요.")
			}
		})
	}

	function chgPrb(productCode) {
		let val = $('#chgPrb' + productCode).val();
		var productsBoardStatus = 0;

		if (val == '게시글 등록전') {
			confirmWrite();
			return false;
		} else if (val == '게시글 등록') {
			productsBoardStatus = 2;
		} else if (val == '게시글 미등록') {
			productsBoardStatus = 1;
		}

		const params = {
			productCode: productCode,
			productsBoardStatus: productsBoardStatus
		}

		$.ajax({
			url: '/shopping/changePrb',
			type: 'post',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify(params),
			success: function (res) {
				alert(res.msg);

				if (val == '게시글 등록') {
					$('#chgPrb' + productCode).val('게시글 미등록');
				} else if (val == '게시글 미등록') {
					$('#chgPrb' + productCode).val('게시글 등록');
				}
			},
			error: function (error) {
				console.log(error);
			}
		})
	}

	function confirmWrite() {
		if (confirm('상품소개글을 등록해주세요\n게시글 작성 페이지로 가시겠습니까?')) {
			location.href = "/shopping/shoppingWrite";
		}
	}


	$(document).ready(function () {
		const productsstatus = document.querySelectorAll('[id^="chgPrb"]');

		$.ajax({
			url: '/shopping/checkPrb',
			type: 'get',
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			success: function (res) {
				res.forEach(function (item) {
					if (item.productsBoardStatus === 2) {
						$('#chgPrb' + item.productCode).val('게시글 미등록');
					} else if (item.productsBoardStatus === 1) {
						$('#chgPrb' + item.productCode).val('게시글 등록');
					}
				})

				productsstatus.forEach(function (item) {
					var data = $(item).val();
					if (data === '') {
						$(item).val('게시글 등록전');
					}
				})
			},
			error: function (error) {
				console.log(error);
			}
		})
	})
</script>