<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>상품 수정</title>
	<style>
		img {
			width: 100px;
			height: 100px;
		}
	</style>
	<script th:inline="javascript">
		var productCode = [[${modifyBag.productCode}]]
		function fileDel1() {
			var imgName = $("#bagImg1").val()
			if (!confirm('정말로 삭제하시겠습니까?')) {
				return false;
			}
			$.ajax({
				url: "/admin/deleteImg1/" + [[${pd.page}]],
				type: "post",
				data: {productCode: productCode, imgName: imgName},
				dataType: 'json',
				success: function (result) {
					if (result == 0) {
						window.alert("삭제 되었습니다.")
						window.location.href = "/admin/modifyGoods/" + productCode + "/" + [[${pd.page}]]
					} else {
						window.alert("삭제 실패.")
					}
				},
				error: function () {
					alert("요청 실패");
				}
			})
		}
		function fileDel2() {
			var imgName = $("#bagImg2").val()
			if (!confirm('정말로 삭제하시겠습니까?')) {
				return false;
			}
			$.ajax({
				url: "/admin/deleteImg2/" + [[${pd.page}]],
				type: "post",
				data: {productCode: productCode, imgName: imgName},
				dataType: 'json',
				success: function (result) {
					if (result == 0) {
						window.alert("삭제 되었습니다.")
						window.location.href = "/admin/modifyGoods/" + productCode + "/" + [[${pd.page}]]
					} else {
						window.alert("삭제 실패.")
					}
				},
				error: function () {
					alert("요청 실패");
				}
			})
		}
		function fileDel3() {
			var imgName = $("#bagImg3").val()
			if (!confirm('정말로 삭제하시겠습니까?')) {
				return false;
			}
			$.ajax({
				url: "/admin/deleteImg3/" + [[${pd.page}]],
				type: "post",
				data: {productCode: productCode, imgName: imgName},
				dataType: 'json',
				success: function (result) {
					if (result == 0) {
						window.alert("삭제 되었습니다.")
						window.location.href = "/admin/modifyGoods/" + productCode + "/" + [[${pd.page}]]
					} else {
						window.alert("삭제 실패.")
					}
				},
				error: function () {
					alert("요청 실패");
				}
			})
		}
		function fileDel4() {
			var imgName = $("#bagImg4").val()
			console.log("/admin/modifyGoods/" + productCode)
			if (!confirm('정말로 삭제하시겠습니까?')) {
				return false;
			}
			$.ajax({
				url: "/admin/deleteImg4/" + [[${pd.page}]],
				type: "post",
				data: {productCode: productCode, imgName: imgName},
				dataType: 'json',
				success: function (result) {
					if (result == 0) {
						window.alert("삭제 되었습니다.")
						window.location.href = "/admin/modifyGoods/" + productCode + "/" + [[${pd.page}]]
					} else {
						window.alert("삭제 실패.")
					}
				},
				error: function () {
					alert("요청 실패");
				}
			})
		}
		
	</script>
</head>

<body>
	<h2>상품 수정</h2>
	<form name="modiForm" method="post" enctype="multipart/form-data">
		<table border="">
			<tr>
				<td>상품코드</td>
				<td><input type="text" name="productCode" th:value="${modifyBag.productCode}" />
					<button type="button" onclick="productCodeChkBtn()">상품코드 중복체크</button>
					<input type="hidden" id="codeChk" />
				</td>
			</tr>
			<tr>
				<td>카테고리</td>
				<td>
					<select name="categoriesName" th:selected="${modifyBag.categoriesName}">
						<th:block th:each="category : ${categories}">
							<option th:text="${category.categoriesName}"
								th:selected="${category.categoriesName == modifyBag.categoriesName}" />
						</th:block>
					</select>

				</td>
			</tr>
			<tr>
				<td>타입</td>
				<td>
					<select name="typeName" th:selected="${modifyBag.typeName}">
						<th:block th:each="type : ${types}">
							<option th:text="${type.typeName}" th:selected="${type.typeName == modifyBag.typeName}" />
						</th:block>
					</select>

				</td>
			</tr>
			<tr>
				<td>브랜드명</td>
				<td>
					<select name="brandName">
						<th:block th:each="brand : ${brands}">
							<option th:text="${brand.brandName}"
								th:selected="${brand.brandName == modifyBag.brandName}" />
						</th:block>
					</select>

				</td>
			</tr>
			<tr>
				<td>상품명</td>
				<td><input type="text" name="bagName" th:value="${modifyBag.bagName}" /></td>
			</tr>
			<tr>
				<td>가격</td>
				<td><input type="text" name="bagPrice" th:value="${modifyBag.bagPrice}" /></td>
			</tr>
			<tr>
				<td>너비</td>
				<td><input type="text" name="bagSizeW" th:value="${modifyBag.bagSizeW}" /></td>
			</tr>
			<tr>
				<td>높이</td>
				<td><input type="text" name="bagSizeH" th:value="${modifyBag.bagSizeH}" /></td>
			</tr>
			<tr>
				<td>깊이</td>
				<td><input type="text" name="bagSizeD" th:value="${modifyBag.bagSizeD}" /></td>
			</tr>
			<tr>
				<td>용량</td>
				<td><input type="text" name="bagCapacity" th:value="${modifyBag.bagCapacity}" /></td>
			</tr>
			<tr>
				<td>무게</td>
				<td><input type="text" name="bagWeight" th:value="${modifyBag.bagWeight}" /></td>
			</tr>
			<tr>
				<td>겉감</td>
				<td><input type="text" name="bagOuterFabric" th:value="${modifyBag.bagOuterFabric}" /></td>
			</tr>
			<tr>
				<td>안감</td>
				<td><input type="text" name="bagInnerFabric" th:value="${modifyBag.bagInnerFabric}" /></td>
			</tr>
			<tr>
				<td>지퍼</td>
				<td><input type="text" name="bagZipper" th:value="${modifyBag.bagZipper}" /></td>
			</tr>
			<tr>
				<td>버클</td>
				<td><input type="text" name="bagBuckle" th:value="${modifyBag.bagBuckle}" /></td>
			</tr>
			<tr>
				<td>상품 설명</td>
				<td><textarea name="bagComment" cols="30" rows="10" th:text="${modifyBag.bagComment}"></textarea></td>
			</tr>
			<tr>
				<td>이미지1</td>
				<td th:if="${modifyBag.bagImg1 == null or modifyBag.bagImg1 == ''}"><input type="file" name="Img1" />
				</td>
				<td th:unless="${modifyBag.bagImg1 == null or modifyBag.bagImg1 == ''}" id="Img1">
					<img th:src="|/upFile/${modifyBag.bagImg1}|">
					[[${modifyBag.bagImg1}]]<input type="hidden" id="bagImg1" name="bagImg1"
						th:value="${modifyBag.bagImg1}" /><input type="button" value="파일삭제" onclick="fileDel1()" />
				</td>
			</tr>
			<tr>
				<td>이미지2</td>
				<td th:if="${modifyBag.bagImg2 == null or modifyBag.bagImg2 == ''}"><input type="file" name="Img2" />
				</td>
				<td th:unless="${modifyBag.bagImg2 == null or modifyBag.bagImg2 == ''}" id="Img2">
					<img th:src="|/upFile/${modifyBag.bagImg2}|">
					[[${modifyBag.bagImg2}]]<input type="hidden" id="bagImg2" name="bagImg2"
						th:value="${modifyBag.bagImg2}" /><input type="button" value="파일삭제" onclick="fileDel2()" />
				</td>
			</tr>
			<tr>
				<td>이미지3</td>
				<td th:if="${modifyBag.bagImg3 == null or modifyBag.bagImg3 == ''}"><input type="file" name="Img3" />
				</td>
				<td th:unless="${modifyBag.bagImg3 == null or modifyBag.bagImg3 == ''}" id="Img3">
					<img th:src="|/upFile/${modifyBag.bagImg3}|">
					[[${modifyBag.bagImg3}]]<input type="hidden" id="bagImg3" name="bagImg3"
						th:value="${modifyBag.bagImg3}" /><input type="button" value="파일삭제" onclick="fileDel3()" />
				</td>
			</tr>
			<tr>
				<td>이미지4</td>
				<td th:if="${modifyBag.bagImg4 == null or modifyBag.bagImg4 == ''}"><input type="file" name="Img4" />
				</td>
				<td th:unless="${modifyBag.bagImg4 == null or modifyBag.bagImg4 == ''}" id="Img4">
					<img th:src="|/upFile/${modifyBag.bagImg4}|">
					[[${modifyBag.bagImg4}]]<input type="hidden" id="bagImg4" name="bagImg4"
						th:value="${modifyBag.bagImg4}" /><input type="button" value="파일삭제" onclick="fileDel4()" />
				</td>
			</tr>
			<tr>
				<td>상품제조월</td>
				<td><input type="text" name="bagsProductionDayStr" th:value="${modifyBag.bagsProductionDay}" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="button" onclick="modifyGoodsBtn()" value="등록" />
					<a th:href="|/admin/goodsManage/${pd.page}|">취소</a>
				</td>
			</tr>
		</table>
	</form>
	<script th:inline="javascript">
		
		var productCode = $('input[name=productCode]')
		var bagName = $('input[name=bagName]')
		var bagPrice = $('input[name=bagPrice]')
		var bagName = $('input[name=bagName]')
		var bagSizeW = $('input[name=bagSizeW]')
		var bagSizeH = $('input[name=bagSizeH]')
		var bagSizeD = $('input[name=bagSizeD]')
		var bagCapacity = $('input[name=bagCapacity]')
		var bagWeight = $('input[name=bagWeight]')
		var codeChk = $('#codeChk')

		var bagsProductionDayStr = $('input[name=bagsProductionDayStr]')
		var reg = /^[0-9]+$/;
		var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);
		var date = new Date();

		var form = $('form[name=modiForm]')

		function productCodeChkBtn() {
			
			$.ajax({
				url: "/admin/productCodeChk",
				type: "post",
				data: {productCode: productCode.val()},
				dataType: 'json',
				success: function (result) {
					if (result > 0) {
						alert("이미 존재하는 상품코드 입니다.")
						codeChk.val('대기')
					} else {
						alert("사용 가능한 상품코드 입니다.")
						codeChk.val('완료')
					}
					console.log(codeChk.val())
				},

			})

		}

		function modifyGoodsBtn() {

			if (productCode.val() == "") {
				alert("상품코드를 입력해주세요")
				productCode.focus()
				return false;
			}
			if (!reg.test(productCode.val())) {
				alert("상품코드는 숫자만 입력해주세요.")
				return false;
			}
			if (codeChk.val() == "대기") {
				alert("상품코드 중복체크를 해주세요.")
				productCode.focus()
				return false;
			}
			if (bagName.val() == "") {
				alert("상품명을 입력해주세요");
				bagName.focus();
				return false;
			}
			if (!reg.test(bagPrice.val())) {
				alert("가방 가격은 숫자만 입력해주세요.")
				bagPrice.focus();
				return false;
			}
			if (!reg.test(bagSizeW.val())) {
				alert("가방 너비는 숫자만 입력해주세요.")
				bagSizeW.focus();
				return false;
			}
			if (!reg.test(bagSizeH.val())) {
				alert("가방 높이는 숫자만 입력해주세요.")
				bagSizeH.focus();
				return false;
			}
			if (!reg.test(bagSizeD.val())) {
				alert("가방 깊이는 숫자만 입력해주세요.")
				bagSizeD.focus();
				return false;
			}
			if (!reg.test(bagCapacity.val())) {
				alert("가방 용량은 숫자만 입력해주세요.")
				bagCapacity.focus();
				return false;
			}
			if (!reg.test(bagWeight.val())) {
				alert("가방 무게는 숫자만 입력해주세요.")
				bagWeight.focus();
				return false;
			}
			if (!regex.test(bagsProductionDayStr.val())) {
				alert("년월일 형식에 맞게 입력해주세요.")
				bagsProductionDayStr.focus();
				return false;
			}
			if (bagsProductionDayStr) {
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var day = date.getDate();
				if (month.toString().length < 2) {
					month = "0" + month;
				}
				if (day.toString().length < 2) {
					day = "0" + day;
				}

				var getToday = year + "-" + month + "-" + day;
				if (bagsProductionDayStr.val() > getToday) {
					alert("오늘 날짜를 넘길 수 없습니다!")
					bagsProductionDayStr.focus();
					return false;
				}
			}
			form.submit()

		}
	</script>
</body>

</html>