<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>관리자 패널</title>
	<style>
		img{
			width: 100px;
			height: 100px;
		}
	</style>
</head>
<body>
	<h2 th:each="info : ${orderInfo}" th:text="|${info.orderStatus} 상품 입니다.|"></h2>
	<br/>
	<h3>상품 정보</h3>
	<br/>
	<table border="">
		<tr>
			<td>이미지</td>
			<td>상품코드</td>
			<td>상품명</td>
			<td>수량</td>
			<td>주문번호</td>
		</tr>
		<tr th:each="order : ${myOrd}">
			<td><img th:src="|/upFile/${order.productCode}_img1.png|"></td>
			<td th:text="${order.productCode}"/>
			<td th:text="${order.bagName}"/>
			<td th:text="${order.amount}"/>
			<td th:text="${order.merchantUid}"/>
		</tr>
	</table>
	<th:block th:each="info : ${orderInfo}">
		<br/>
	<h3>배송지 정보</h3>
	<table border="">
		<tr>
			<td>수령자</td>
			<td th:text="${info.buyerName}"/>
		</tr>
		<tr>
			<td>전화번호</td>
			<td th:text="${info.buyerTel}"/>
		</tr>
		<tr>
			<td>배송지</td>
			<td th:text="${info.buyerAddr}"/>
		</tr>
		<tr>
			<td>배송요청사항</td>
			<td th:text="${info.addressMsg}"/>
		</tr>
	</table>
	<br/>
	<h3>결제 정보</h3>
	<table border="">
		<tr>
			<td>상품 금액</td>
			<td th:text="${info.ordersTotalPrice}"/>
		</tr>
		<tr>
			<td>결제 금액</td>
			<td th:text="${info.ordersTotalPrice}"/>
		</tr>
		<tr>
			<td>결제 방법</td>
			<th:block th:if="|${info.payType == 'tosspay.tosstest'}|">
			<td th:text="|토스페이|" />
			</th:block>
			<th:block th:if="|${info.payType == 'kakaopay.TC0ONETIME'}|">
			<td th:text="|카카오페이|" />
			</th:block>
			<th:block th:if="|${info.payType == 'payco.AUTOPAY'}|">
			<td th:text="|페이코|" />
			</th:block>
			<th:block th:if="|${info.payType == 'kcp.A52CY'}|">
			<td th:text="|카드결제|" />
			</th:block>
		</tr>
	</table>
	</th:block>
	<br/>
	<th:block th:if="${pd.pageType == 'ALL'}">
	<a th:href="|/admin/salesHistory/${pd.page}?pageType=${pd.pageType}|" class="btn btn-block btn-secondary btn">뒤로</a>
	</th:block>
	<th:block th:unless="${pd.pageType == 'ALL'}">
	<a th:href="|/admin/salesHistory/${pd.page}?searchType=${pd.searchType}&keyword=${pd.keyword}&limit=${pd.limit}&pageType=${pd.pageType}|"
	class="btn btn-block btn-secondary btn">뒤로</a>
	</th:block>
</body>

</html>