<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>판매 관리</title>
	
	<script>
		function orderCancel(data) {
			if (confirm("결제를 취소 하시겠습니까?")) {
				var inputString = prompt('취소 사유를 입력해주세요.', '[관리자] 사유 : ');
				if (inputString == null) {
					alert("취소 하셨습니다.")
					return false;
				} else {
					$.ajax({
						url: "/admin/orderCancel",
						type: "post",
						data: {data: data, cancelReason: inputString},
						dataType: 'json',
						success: function (result) {
							if (result == 0) {
								alert("결제 취소 완료")
								location.href = "/admin/salesHistory/1"
							}
						},
						error: function () {
							alert("요청 실패");
						}
					})
				}
			}
		}

		
		$(document).on('click', '#btnSearch', function (e) {
			console.log("누름")
			e.preventDefault();
			var url = "/admin/salesHistory/1?pageType=ALL";
			url = url + "&searchType=" + $('#searchType').val();
			url = url + "&keyword=" + $('#keyword').val();
			url = url + "&dateStart=" + $('#dateStart').val();
			url = url + "&dateEnd=" + $('#dateEnd').val();

			console.log(url);
			location.href = url;
		});
		
		
		function shipChange(selected, uid, pageType) {
			console.log(pageType)
			if (confirm(selected + "(으)로 상태를 변경 하시겠습니까?")) {
				$.ajax({
					url: "/admin/shipChange",
					type: "post",
					data: {status: selected, uid: uid},
					dataType: 'json',
					success: function (result) {
						if (result > 0) {
							alert("배송정보 변경 완료")
							if(pageType == 'PC'){
								location.href = "/admin/salesHistory/" + [[${pd.page}]]+"?searchType=S&keyword=결제%20완료&limit=15&pageType=PC"
							}
							if(pageType == 'SP'){
								location.href = "/admin/salesHistory/" + [[${pd.page}]]+"?searchType=S&keyword=배송%20준비&limit=15&pageType=SP"
							}
							if(pageType == 'SI'){
								location.href = "/admin/salesHistory/" + [[${pd.page}]]+"?searchType=S&keyword=배송%20중&limit=15&pageType=SI"
							}
							if(pageType == 'ALL'){
								location.href = "/admin/salesHistory/" + [[${pd.page}]]+"?pageType=ALL"
							}
							
						}
					},
					error: function () {
						alert("요청 실패");
					}
				})
			} else {
				alert('취소 하셨습니다.')
			}

		}
	</script>
</head>

<body>
	<th:block th:if="${pd.pageType == 'PC'}">
		<table border="">
			<tr>
				<td>배송상태</td>
				<td>주문번호</td>
				
				<td>구매자 ID</td>
				
				<td>주문일자</td>
				<td>결제 관리</td>
				<td>배송 관리</td>
				<td>취소 사유</td>
			</tr>
			<tr th:each="order : ${orderList}">
				<td th:text="${order.orderStatus}" id="status" />
				<td><a th:href="|/admin/salesHistory/${pd.page}/${order.merchantUid}?searchType=${pd.searchType}&keyword=결제%20완료&limit=15&pageType=PC|">[[${order.merchantUid}]]</a></td>
				
				<td th:text="${order.memberId}" />
				
				<td th:text="${order.ordersRegDateStr}" />
				<td th:if="${order.orderStatus == '결제 완료'}"><input type="button" value="결제 취소"
						th:orderParam="${order.merchantUid}"
						th:onclick="orderCancel(this.getAttribute('orderParam'))" />
				</td>
				<td th:unless="${order.orderStatus == '결제 완료'}"></td>
				<td>
					<select th:onchange="shipChange(this.options[this.selectedIndex].text, [[${order.merchantUid}]], [[${pd.pageType}]])">
						<option th:selected="${order.orderStatus == '결제 완료'}">결제 완료</option>
						<option th:selected="${order.orderStatus == '배송 준비'}">배송 준비</option>
						<option th:selected="${order.orderStatus == '배송 중'}">배송 중</option>
						<option th:selected="${order.orderStatus == '배송 완료'}">배송 완료</option>
					</select>
				</td>
				<td th:text="${order.cancelReason}" />
			</tr>
			<tr>
				<td colspan="15" align="center">
					<th:block th:if="${pd.pageStart} > 1">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}|" th:text="[이전]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}?searchType=${pd.searchType}&keyword=결제%20완료&limit=15&pageType=PC|"
								th:text="[이전]" />
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd > 0}">
						<th:block th:each="num : ${#numbers.sequence(pd.pageStart,pd.pageEnd)} ">
							<th:block th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}
							and ${pd.dateStart == null} and ${pd.dateEnd == null} ">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}|" th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}|" th:text="${num}" />
								</th:block>
							</th:block>
							<th:block
								th:unless="(${pd.searchType == null} or ${pd.searchType == ''}) and (${pd.keyword == null} or ${pd.keyword == ''}) and ${pd.dateStart == null} and ${pd.dateEnd == null}">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=결제%20완료&limit=15&pageType=PC|"
										th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=결제%20완료&limit=15&pageType=PC|"
										th:text="${num}" />
								</th:block>
							</th:block>
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd == 0}"><a th:href="1">1</a></th:block>
					<th:block th:if="${pd.pageEnd} < ${pd.pageTotal}">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}|" th:text="[다음]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}?searchType=${pd.searchType}&keyword=결제%20완료&limit=15&pageType=PC|"
								th:text="[다음]" />
						</th:block>
					</th:block>
				</td>
			</tr>
		</table>
	</th:block>

	<th:block th:if="${pd.pageType == 'SP'}">
		<table border="">
			<tr>
				<td>배송상태</td>
				<td>주문번호</td>
				
				<td>구매자 ID</td>
				
				<td>주문일자</td>
				<td>결제 관리</td>
				<td>배송 관리</td>
				<td>취소 사유</td>
			</tr>
			<tr th:each="order : ${orderList}">
				<td th:text="${order.orderStatus}" id="status" />
				<td><a th:href="|/admin/salesHistory/${pd.page}/${order.merchantUid}?searchType=${pd.searchType}&keyword=배송%20준비&limit=15&pageType=SP|">[[${order.merchantUid}]]</a></td>
			
				<td th:text="${order.memberId}" />
				
				<td th:text="${order.ordersRegDateStr}" />
				<td th:if="${order.orderStatus == '결제 완료'}"><input type="button" value="결제 취소"
						th:orderParam="${order.merchantUid}"
						th:onclick="orderCancel(this.getAttribute('orderParam'))" />
				</td>
				<td th:unless="${order.orderStatus == '결제 완료'}"></td>
				<td>
					<select th:onchange="shipChange(this.options[this.selectedIndex].text, [[${order.merchantUid}]], [[${pd.pageType}]])">
						<option th:selected="${order.orderStatus == '결제 완료'}">결제 완료</option>
						<option th:selected="${order.orderStatus == '배송 준비'}">배송 준비</option>
						<option th:selected="${order.orderStatus == '배송 중'}">배송 중</option>
						<option th:selected="${order.orderStatus == '배송 완료'}">배송 완료</option>
					</select>
				</td>
				<td th:text="${order.cancelReason}" />
			</tr>
			<tr>
				<td colspan="15" align="center">
					<th:block th:if="${pd.pageStart} > 1">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}|" th:text="[이전]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}?searchType=${pd.searchType}&keyword=배송%20준비&limit=15&pageType=SP|"
								th:text="[이전]" />
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd > 0}">
						<th:block th:each="num : ${#numbers.sequence(pd.pageStart,pd.pageEnd)} ">
							<th:block th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}
							and ${pd.dateStart == null} and ${pd.dateEnd == null} ">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}|" th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}|" th:text="${num}" />
								</th:block>
							</th:block>
							<th:block
								th:unless="(${pd.searchType == null} or ${pd.searchType == ''}) and (${pd.keyword == null} or ${pd.keyword == ''}) and ${pd.dateStart == null} and ${pd.dateEnd == null}">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=배송%20준비&limit=15&pageType=SP|"
										th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=배송%20준비&limit=15&pageType=SP|"
										th:text="${num}" />
								</th:block>
							</th:block>
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd == 0}"><a th:href="1">1</a></th:block>
					<th:block th:if="${pd.pageEnd} < ${pd.pageTotal}">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}|" th:text="[다음]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}?searchType=${pd.searchType}&keyword=배송%20준비&limit=15&pageType=SP|"
								th:text="[다음]" />
						</th:block>
					</th:block>
				</td>
			</tr>
		</table>
	</th:block>

	<th:block th:if="${pd.pageType == 'SI'}">
		<table border="">
			<tr>
				<td>배송상태</td>
				<td>주문번호</td>
				
				<td>구매자 ID</td>
				
				<td>주문일자</td>
				<td>결제 관리</td>
				<td>배송 관리</td>
				<td>취소 사유</td>
			</tr>
			<tr th:each="order : ${orderList}">
				<td th:text="${order.orderStatus}" id="status" />
				<td><a th:href="|/admin/salesHistory/${pd.page}/${order.merchantUid}?searchType=${pd.searchType}&keyword=배송%20중&limit=15&pageType=SI|">[[${order.merchantUid}]]</a></td>
				
				<td th:text="${order.memberId}" />
				
				<td th:text="${order.ordersRegDateStr}" />
				<td th:if="${order.orderStatus == '결제 완료'}"><input type="button" value="결제 취소"
						th:orderParam="${order.merchantUid}"
						th:onclick="orderCancel(this.getAttribute('orderParam'))" />
				</td>
				<td th:unless="${order.orderStatus == '결제 완료'}"></td>
				<td>
					<select th:onchange="shipChange(this.options[this.selectedIndex].text, [[${order.merchantUid}]], [[${pd.pageType}]])">
						<option th:selected="${order.orderStatus == '결제 완료'}">결제 완료</option>
						<option th:selected="${order.orderStatus == '배송 준비'}">배송 준비</option>
						<option th:selected="${order.orderStatus == '배송 중'}">배송 중</option>
						<option th:selected="${order.orderStatus == '배송 완료'}">배송 완료</option>
					</select>
				</td>
				<td th:text="${order.cancelReason}" />
			</tr>
			<tr>
				<td colspan="15" align="center">
					<th:block th:if="${pd.pageStart} > 1">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}|" th:text="[이전]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}?searchType=${pd.searchType}&keyword=배송%20중&limit=15&pageType=SI|"
								th:text="[이전]" />
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd > 0}">
						<th:block th:each="num : ${#numbers.sequence(pd.pageStart,pd.pageEnd)} ">
							<th:block th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}
							and ${pd.dateStart == null} and ${pd.dateEnd == null} ">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}|" th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}|" th:text="${num}" />
								</th:block>
							</th:block>
							<th:block
								th:unless="(${pd.searchType == null} or ${pd.searchType == ''}) and (${pd.keyword == null} or ${pd.keyword == ''}) and ${pd.dateStart == null} and ${pd.dateEnd == null}">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=배송%20중&limit=15&pageType=SI|"
										th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=배송%20중&limit=15&pageType=SI|"
										th:text="${num}" />
								</th:block>
							</th:block>
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd == 0}"><a th:href="1">1</a></th:block>
					<th:block th:if="${pd.pageEnd} < ${pd.pageTotal}">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}|" th:text="[다음]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}?searchType=${pd.searchType}&keyword=배송%20중&limit=15&pageType=SI|"
								th:text="[다음]" />
						</th:block>
					</th:block>
				</td>
			</tr>
		</table>

	</th:block>

	<th:block th:if="${pd.pageType == 'ALL'}">
		<table border="">
			<tr>
				<td>배송상태</td>
				<td>주문번호</td>
				<td>구매자 ID</td>
				<td>주문일자</td>
				<td>결제 관리</td>
				<td>배송 관리</td>
				<td>취소 사유</td>
			</tr>
			<tr th:each="order : ${orderList}">
				<td th:text="${order.orderStatus}" id="status" />
				<td><a th:href="|/admin/salesHistory/${pd.page}/${order.merchantUid}?pageType=ALL|">[[${order.merchantUid}]]</a></td>
				
				<td th:text="${order.memberId}" />
				
				<td th:text="${order.ordersRegDateStr}" />
				<td th:if="${order.orderStatus == '결제 완료'}"><input type="button" value="결제 취소"
						th:orderParam="${order.merchantUid}"
						th:onclick="orderCancel(this.getAttribute('orderParam'))" />
				</td>
				<td th:unless="${order.orderStatus == '결제 완료'}"></td>
				<td>
					<select th:onchange="shipChange(this.options[this.selectedIndex].text, [[${order.merchantUid}]], [[${pd.pageType}]])">
						<option th:selected="${order.orderStatus == '결제 완료'}">결제 완료</option>
						<option th:selected="${order.orderStatus == '배송 준비'}">배송 준비</option>
						<option th:selected="${order.orderStatus == '배송 중'}">배송 중</option>
						<option th:selected="${order.orderStatus == '배송 완료'}">배송 완료</option>
					</select>
				</td>
				<td th:text="${order.cancelReason}" />
			</tr>
			<tr>
				<td colspan="15" align="center">
					<th:block th:if="${pd.pageStart} > 1">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}?pageType=ALL|" th:text="[이전]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageStart-1}?searchType=${pd.searchType}&keyword=${pd.keyword}&dateStart=${pd.dateStart}&dateEnd=${pd.dateEnd}&pageType=ALL|"
								th:text="[이전]" />
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd > 0}">
						<th:block th:each="num : ${#numbers.sequence(pd.pageStart,pd.pageEnd)} ">
							<th:block th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}
							and ${pd.dateStart == null} and ${pd.dateEnd == null} ">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}?pageType=ALL|" th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}?pageType=ALL|" th:text="${num}" />
								</th:block>
							</th:block>



							<th:block
								th:unless="(${pd.searchType == null} or ${pd.searchType == ''}) and (${pd.keyword == null} or ${pd.keyword == ''}) and ${pd.dateStart == null} and ${pd.dateEnd == null}">
								<b th:if="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=${pd.keyword}&dateStart=${pd.dateStart}&dateEnd=${pd.dateEnd}&pageType=ALL|"
										th:text="${num}" />
								</b>
								<th:block th:unless="${num} == ${pd.page}">
									<a th:href="|${num}?searchType=${pd.searchType}&keyword=${pd.keyword}&dateStart=${pd.dateStart}&dateEnd=${pd.dateEnd}&pageType=ALL|"
										th:text="${num}" />
								</th:block>
							</th:block>
						</th:block>
					</th:block>
					<th:block th:if="${pd.pageEnd == 0}"><a th:href="1">1</a></th:block>
					<th:block th:if="${pd.pageEnd} < ${pd.pageTotal}">
						<th:block
							th:if="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}?pageType=ALL|" th:text="[다음]" />
						</th:block>

						<th:block
							th:unless="${pd.searchType == null} or ${pd.searchType == ''} and ${pd.keyword == null} or ${pd.keyword == ''}">
							<a th:href="|${pd.pageEnd+1}?searchType=${pd.searchType}&keyword=${pd.keyword}&dateStart=${pd.dateStart}&dateEnd=${pd.dateEnd}&pageType=ALL|"
								th:text="[다음]" />
						</th:block>
					</th:block>
				</td>
			</tr>
			<tr>
				<td colspan="15">

					<select id="searchType" name="searchType">
						<option value="" selected>---</option>
						<option value="S">배송상태</option>
						<option value="I">주문번호</option>
						<option value="PC">상품코드</option>
						<option value="B">구매자명</option>
						<option value="CR">취소사유</option>
					</select>

					<input type="text" id="keyword">
					<input type="date" value="start" id="dateStart">
					~
					<input type="date" value="end" id="dateEnd">
					<input type="submit" id="btnSearch" value="검색">
					
				</td>
			</tr>
		</table>
	</th:block>
	
</body>

</html>