<html xmlns="http://www.thymeleaf.org">
<table class="inquiryList">
	<tr>
		<td colspan="5">
			<h1>문의게시판</h1>
		</td>
	</tr>
	<tr>
		<td>번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>작성일</td>
	</tr>
	<tr th:if="${#arrays.length(inquiryList) ne 0}" th:each="num,no:${#numbers.sequence(pd.listStart, pd.listEnd)}">
		<td th:text="${pd.pageIndex - no.index}"></td>
		<td>
			<th:block th:if="${inquiryList[num].lev ne 0}"
				th:each="re:${#numbers.sequence(1, inquiryList[num].lev)}">
				<span>&nbsp;</span></th:block>
			<th:block th:if="${inquiryList[num].lev ne 0}"
				th:each="re:${#numbers.sequence(1, inquiryList[num].lev)}">
				<span>└</span></th:block>
			<th:block th:if="${inquiryList[num].publicStatus eq 1 or session.admin ne null}">
				<a th:href="|/inquiry/inquiryDetail/${inquiryList[num].inquiryId}|" 
				th:text="${inquiryList[num].inTitle}"></a>
			</th:block>
			<th:block th:unless="${inquiryList[num].publicStatus eq 1 or session.admin ne null}">
				<th:block th:if="${inquiryList[num].inWriter ne 'admin'}">
					<a th:if="${inquiryList[num].inWriter eq session.userId}" 
					th:href="|/inquiry/inquiryDetail/${inquiryList[num].inquiryId}|">비밀글입니다</a>
					<a th:unless="${inquiryList[num].inWriter eq session.userId}" 
					onclick="notAccess()" href="">비밀글입니다</a>
				</th:block>
				<th:block th:unless="${inquiryList[num].inWriter ne 'admin'}">
					<a th:if="${session.userId eq inquiryList[num].reWriter}"
					th:href="|/inquiry/inquiryDetail/${inquiryList[num].inquiryId}|">비밀글입니다</a>
					<a th:unless="${session.userId eq inquiryList[num].reWriter}"
					href="" onclick="notAccess()">비밀글입니다</a>
				</th:block>
			</th:block>
		</td>
		<td th:text="${inquiryList[num].inWriter}"></td>
		<td th:text="${inquiryList[num].inquiryRegDate2}"></td>
	</tr>
	<tr th:unless="${#arrays.length(inquiryList) ne 0}">
		<td colspan="5">검색된 게시글이 없습니다</td>
	</tr>
	<tr>
		<td colspan="5">
			<a th:href="|/inquiry/inquiryList/1?searchCate=${searC}&searchCont=${sear}|"><<</a>
			<a th:href="|/inquiry/inquiryList/${pd.pageLJump}?searchCate=${searC}&searchCont=${sear}|"><</a>
			<a th:each="pageNum:${#numbers.sequence(
			(pd.pageEnd eq pd.endPage)?(pd.pageEnd-4 le 0)?1:pd.pageEnd-4:pd.pageStart
			, pd.pageEnd)}"
			th:href="|/inquiry/inquiryList/${pageNum}?searchCate=${searC}&searchCont=${sear}|"
			th:text="|${(pd.pageStart eq pageNum) ? '[' + pageNum + ']' : pageNum}|">
			</a>
			<a th:href="|/inquiry/inquiryList/${pd.pageRJump}?searchCate=${searC}&searchCont=${sear}|">></a>
			<a th:href="|/inquiry/inquiryList/${pd.endPage}?searchCate=${searC}&searchCont=${sear}|">>></a>
		</td>
	</tr>
	<form action="/inquiry/inquiryList/1" id="searForm">
		<tr>
			<td align="center" colspan="4">
				<select name="searchCate">
					<option value="전체">전체</option>
					<option value="작성자">작성자</option>
					<option value="제목">제목</option>
					<option value="내용">내용</option>
				</select>
				<input type="text" name="searchCont" id="searchCont" />
				<input type="submit" value="검색" />
			</td>
		</tr>
	</form>
	<tr th:if="${session.userId ne null}">
		<td align="right" colspan="5">
			<a href="/inquiry/inquiryWrite/1">글작성</a>
		</td>
	</tr>
</table>
<script>
	$(document).ready(function(){
		$('#searForm').submit(function(e){
			e.preventDefault();
			
			const search = $('#searchCont').val().trim();
			
			if(search.length == 0 || search.length > 30){
				alert('검색 내용은 1~30글자 내로 해주세요');
				return false;
			}else {
				$('#searForm').get(0).submit();
			}
		})
	})
	
	function notAccess(){
		alert('접근할 수 없습니다');
	}
</script>