<html xmlns="http://www.thymeleaf.org">
<table class="inquiryDetail">
	<tbody>
		<tr>
			<td colspan="5">
				<h1>문의게시판</h1>
			</td>
		</tr>
		<tr>
			<td>제목</td>
			<td colspan="3" th:text="${inquiryDetail.inTitle}"></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td th:text="${inquiryDetail.inWriter}"></td>
			<td>
				작성일
				[[${inquiryDetail.inquiryRegDate2}]]
			</td>
		</tr>
		<tr>
			<td colspan="4" class="contDetail">
				<div class="inqDet" th:utext="${inquiryDetail.inContent}"></div>
			</td>
		</tr>
		<tr>
			<td align="right" colspan="4">
				<a th:if="${session.admin ne null}" th:href="|/inquiry/inquiryReply/${inquiryDetail.inquiryId}|">답글</a>
				<th:block th:if="${session.admin eq null}">
					<th:block th:if="${session.userId eq inquiryDetail.inWriter}">
						<a th:if="${posModi ne 1}" 
						th:href="|/inquiry/inquiryModify/${inquiryDetail.inquiryId}|">수정</a>
					</th:block>
				</th:block>
				<th:block th:unless="${session.admin eq null}">
					<a th:if="${inquiryDetail.inWriter eq 'admin'}" 
					th:href="|/inquiry/inquiryModify/${inquiryDetail.inquiryId}|">수정</a>
				</th:block>
				<a th:if="${session.userId eq inquiryDetail.inWriter or session.admin eq inquiryDetail.inWriter}"
				href="#" th:onclick="|confirmDelete(${inquiryDetail.inquiryId})|">삭제</a>
				<a href="/inquiry/inquiryList/1">뒤로</a>
			</td>
		</tr>
	</tbody>
</table>