<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bag.service.AddressMapper">

	<insert id="insertAddress" parameterType="aDTO">
		insert into address (address, zip_code, detail_address, member_id, address_phone, addr_name, basic_addr
		<if test="addressMsg!=null">
			 , address_msg
		</if>
		)
		values
		(#{address}, #{zipCode}, #{detailAddress}, #{memberId}, #{addressPhone}, #{addrName}, #{basicAddr}
		<if test="addressMsg!=null">
			 , #{addressMsg}
		</if>
		)
	</insert>

	<select id="getUserAddress" parameterType="String" resultType="aDTO">
		select * from address where member_id = #{memberId}
	</select>
	
	<sql id="wh_memberId">
		<where>
			<if test="id!=null">
				member_id = #{id}
			</if>
		</where>
	</sql>
	
	<select id="basicAddress" resultType="aDTO">
		select * from address
		<where>
			<if test="id!=null">
				member_id = #{id}
			</if>
			<if test="basicAddr!=0">
				and basic_addr = #{basicAddr}
			</if>
		</where>
	</select>
	<select id="addrList" resultType="aDTO">
		select * from address <include refid="wh_memberId" />
	</select>
	<select id="selAddr" resultType="aDTO">
		select * from address
		<where>
			<if test="addressId!=0">
				address_id = #{addressId}
			</if>
		</where>
	</select>
	<update id="chgBasicAddr" parameterType="aDTO">
		update address set basic_addr = 0 <include refid="wh_memberId" />
	</update>
	<delete id="deleteAddress">
		delete from address where member_id = #{memberId} and zip_code = #{zipCode}
	</delete>
	<select id="getUserAddrOne">
		select * from address where member_id = #{memberId} and address_id = #{addressId}
	</select>
	<update id="updateAddr" >
		update address set address = #{address}, zip_code = #{zipCode}, 
		detail_address = #{detailAddress}, member_id = #{memberId}, address_phone = #{addressPhone}, 
		addr_name = #{addrName}, basic_addr = #{basicAddr}
		where address_id = #{addressId}
		
	</update>
</mapper>