<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC ".//mybatis.org/DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bag.service.CartMapper">
	<sql id="wh_memberId">
		<where>
			<if test="memberId!=null">
				member_id = #{memberId}
			</if>
		</where>
	</sql>
	<select id="cartList" resultType="cartDTO">
		select * from cart <include refid="wh_memberId" />
	</select>
	<select id="cartSelectList" resultType="cartDTO">
		select * from cart
		<where>
			<if test="memberId!=null">
				member_id = #{memberId}
			</if>
			<if test="payStatus!=0">
				and pay_status = #{payStatus}
			</if>
		</where>
	</select>
	<select id="payCartList" resultType="cartDTO">
		select * from cart
		<where>
			<if test="memberId!=null">
				member_id = #{memberId}
			</if>
			<if test="payStatus!=0">
				and pay_status = #{payStatus}
			</if>
		</where>
	</select>
	<insert id="addCart" parameterType="cartDTO">
		insert into cart(member_id, product_code, products_count, sum_price, pay_status)
		values
		(#{memberId}, #{productCode}, #{productsCount}, #{sumPrice}, #{payStatus})
	</insert>
	<update id="updCart" parameterType="cartDTO">
		update cart set products_count = products_count + #{productsCount}, sum_price = sum_price + #{sumPrice},
		pay_status = #{payStatus}
		<where>
			<if test="productCode!=0">
				product_code = #{productCode}
			</if>
			<if test="memberId!=null">
				and member_id = #{memberId}
			</if>
		</where>
	</update>
	<select id="cartCount" resultType="Integer">
		select count(*) from cart <include refid="wh_memberId" />
	</select>
	<update id="changeCart" parameterType="cartDTO">
		update cart set products_count = #{productsCount}, sum_price = #{sumPrice}
		<where>
			<if test="cartId!=0">
				cart_id = #{cartId}
			</if>
		</where>
	</update>
	<delete id="deleteCart" parameterType="Integer">
		delete from cart
		<where>
			<if test="cartId!=0">
				cart_id = #{cartId}
			</if>
		</where>
	</delete>
	<delete id="allDelete">
		delete from cart <include refid="wh_memberId" />
	</delete>
	<update id="orderSelect" parameterType="cartDTO">
		update cart set pay_status = #{payStatus}
		<where>
			<if test="memberId!=null">
				member_id = #{memberId}
			</if>
			<if test="productCode!=0">
				and product_code = #{productCode}
			</if>
		</where>
	</update>
	<update id="selectInit" parameterType="String">
		update cart set pay_status = 0 <include refid="wh_memberId" />
	</update>
</mapper>