<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC ".//mybatis.org/DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bag.service.CategoriesMapper">
	<select id="categoriesList" resultType="catDTO">
		select * from categories
	</select>
	<select id="maxCatCode" resultType="Integer">
		select max(category_code) from categories
	</select>
	<select id="categoryName" resultType="catDTO">
		select distinct(category_name) from categories
	</select>
</mapper>