<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bag.service.MemberMapper">

	<insert id="insertMember" parameterType="mDTO">
		insert into member (member_id, member_pw, member_name, member_email, member_phone, member_reg_date)
		values
		(#{memberId}, #{memberPw}, #{memberName}, #{memberEmail}, #{memberPhone}, sysdate())
	</insert>
	
	<select id="memberList">
		select * from member
	</select>
	
	<select id="idCheck" parameterType="String" resultType="Integer">
		select count(member_id) from member where member_id = #{memberId}
	</select>
	
	<select id="phoneCheck" parameterType="String" resultType="Integer">
		select count(member_phone) from member where member_phone = #{memberPhone}
	</select>
	
	<select id="idPwCheck" parameterType="mDTO" resultType="Integer">
		select count(*) from member where member_id = #{memberId} and member_pw = #{memberPw}
	</select>

	<select id="getUser" parameterType="String" resultType="mDTO">
		select * from member where member_id = #{memberId}
	</select>
	
	<delete id="deleteMember" parameterType="String">
		delete from member where member_id = #{memberId}
	</delete>


</mapper>